<section class="hero  is-halfheight m-6 has-text-dark has-text-weight-medium pt-4" style="min-height: 70vh; display: block;">
<h1 class="is-size-3-mobile  is-size-1-tablet mt-6 has-text-weight-bold " >Zero-TOTP change log</h1>
<div class="tags has-addons mt-2 mb-6">
    <span class="tag is-dark is-medium">Current version</span>
    <span class="tag is-success is-medium">{{imageHash}}</span>
</div>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">20/11/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b1.4</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>
       A bug when opening the vault for the first time, the google drive status was stuck in loading status.
    </li>
    <li>
        We improve the database initialization on app startup.
     </li>
     <li>
        We improve the vault import via a zero-totp backup file.
     </li>
     <li>
        We improve the way we display time, to be more accurate according to your timezone. We fixed a bug when backuping your vault, the last backup up was not displayed.
     </li>
</ul>


<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">19/11/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b1.3</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>
        We migrated the API from an WSGI server to a ASGI server to improve the performance of the application. As for now, the API is 20% faster and can handle more requests at the same time.
    </li>
    <li>
        We upgraded Zero-TOTP's API to Flask 3.0, connexion 3.0 to improve the performance and security of the application. This is an important upgrade in the maintainability and futur development of the application.
    </li>
</ul>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>
        We upgraded all the dependencies of the API to keep Zero-TOTP secure. In particular, the API is now protected against CVE-2023-46136 (moderate), CVE-2023-45803 (moderate) and CVE-2023-43804 (moderate).

    </li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">18/11/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b1.2</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>
        A full new section to manage your preferences and settings. The advances settings are now in this dedicated page.
    </li>
    <li>
        We added a whole new feature to Zero-TOTP : the favicon preview. You can now see the favicon of the website you are adding to your vault. It is easier to identify the website you are adding to your vault.
    </li>
    <li>
        You can enable or disable the favicon preview for each website in their settings. If you want to define a global setting for all your websites, you can do it in the preferences page. You can enable the favicon preview for all your websites or disable it for all your websites. This setting overriddes the website settings.
    </li>
</ul>


<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">09/11/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b1.0</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>
        Your can now enable the automatic backup of your encrypted vault right into your Google Drive account in few clicks. After each modification to your vault an encrypted backup is automatically triggered and saved in your Google Drive account. You now have the control over your backups and stores them in a safe place. All backups are always encrypted with your passphrase and no one can open them without it. Even if someone has access to your Google Drive account.
    </li>
    <li>
        A full integration with Google Drive API to allow you to backup your vault in your Google Drive account through an OAuth2 authentication.
    </li>
    <li>
        A full control of your integration settings, directly from the vault page. You can enable or revoke the google drive backup, manage errors, or see the last backup date.
    </li>
    <li>
        We have designed a entire secure flow through the application to easily connect your google drive account within few clicks.
    </li>
    <li>
        We added an important new security layer to safely store your google drive access. 
    </li>
    <li>
        We added a cleaning routine to manage for you the backup files in your google drive account.
    </li>
    <li>
        This new version includes a version control and integrity  of your backups to always keep your backups up to date.
    </li>
    <li>
        We added new settings in your account page to see the whole backup retention policy. You will be able to manage it in futur releases.
    </li>
    <li>
        You can verify at any moment your google drive integration status right in your vault page.
    </li>
    <li>
        We updated the privacy policy to be more clearer about the google drive integration.
    </li>
    <li>
        This version brings a whole new dimension to Zero-TOTP and include a very important security layer for your vault to keep your data safe.
    </li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">31/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.48</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li> We've made some improvement to the published docker images to be more secure and stable.
    </li>
    <li>
        You can now retrieve a specific version in dockerhub with its appropriate tag.
    </li>
    <li>
        We deleted a lot of debug logs to improve the application performance and avoid any security leak in your logs.
    </li>
</ul>


<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">27/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.48</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>A very strong and strict Content-Security-Policy (CSP) to add an extra layer of security to Zero-TOTP, particularly against XSS attacks, clickjacking, XSF, etc.</li>
    <li> This strict new policy is applied to all pages of Zero-TOTP and may cause some visual perturbations on some browsers. If you encounter any issue, please contact us. We will deeply test the application and apply some fixes if needed in futur releases.
    </li>
    <li> We upgraded our base image for the Zero-TOTP API's to improve the security of the application.
    </li>
</ul>


<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">24/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.47</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We added a better verification of your inputs to improve the application security at a very global scale.</li>
    <li>We added a strong sanitizing of all inputs to avoid any security issue. </li>
    <li>The "confirm your passphrase is strong" pop-up is now showed only once, even if your signup form has an error. You can now re-submit a signup without having to fill the pop-up again.</li>
    <li>As for now, if your session is expired or if you don't have internet anymore, the frontend can adapt to display more accurate error message and send you to the login page if your 1h session is ended.</li>
    <li>The "Create my vault" button on the home page is now "Open my vault" and leads to the login page instead. It is more convenient for most of users.</li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">23/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.46</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>A very basic admin dashboard to visualize users (for admins only). Admins will never be able to modify view or modify users' data.</li> 
    <li>We added a new login flow to secure the admin authentification.</li>
</ul>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We've made some upgrades to always use the most stable packages.</li>
</ul>
<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">18/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.45</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We've made some update of our dependencies to keep Zero-TOTP secure.</li>
</ul>
<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">16/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.44</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>This changelog page.</li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">16/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.43</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>Zero-TOTP servers are now hosted in France and in Canada to improve the data redundancy.</li>
</ul>



</section>