<section class="hero  is-halfheight m-6 has-text-dark has-text-weight-medium pt-4" style="min-height: 70vh; display: block;">
<h1 class="is-size-3-mobile  is-size-1-tablet mt-6 has-text-weight-bold " >Zero-TOTP change log</h1>
<div class="tags has-addons mt-2 mb-6">
    <span class="tag is-dark is-medium">Current version</span>
    <span class="tag is-success is-medium">{{imageHash}}</span>
</div>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">24/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.47</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We had a better verification of your inputs to improve the application security at a very global scale.</li>
    <li>We had a strong sanitizing of all inputs to avoid any security issue. </li>
    <li>The "confirm your passphrase is strong" pop-up is now showed only once, even if your signup form has an error. You can now re-submit a signup without having to fill the pop-up again.</li>
    <li>As for now, if your session is expired or if you don't have internet anymore, the frontend can adapt to display more accurate error message and send you to the login page if your 1h session is ended.</li>
    <li>The "Create my vault" button on the home page is now "Open my vault" and leads to the login page instead. It is more convenient for most of users.</li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">23/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.46</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>A very basic admin dashboard to visualize users (for admins only). Admins will never be able to modify view or modify users' data.</li> 
    <li>We added a new login flow to secure the admin authentification.</li>
</ul>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We've made some upgrades to always use the most stable packages.</li>
</ul>
<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">18/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.45</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faTruckMedical" style="color:#FE6847"></fa-icon> We fixed : </p>
<ul>
    <li>We've made some update of our dependencies to keep Zero-TOTP secure.</li>
</ul>
<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">16/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.44</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>This changelog page.</li>
</ul>

<h3 class="is-size-5-mobile  is-size-3-tablet mt-4 has-text-weight-bold " style="border-bottom: 0.5px lightgray solid; width: 100%;">16/10/2023</h3>
<div class="tags has-addons mt-2">
    <span class="tag is-dark">version</span>
    <span class="tag is-info">b0.43</span>
</div>
<p class="has-text-weight-bold"><fa-icon [icon]="faCirclePlus" style="color:#63A375"></fa-icon> We added : </p>
<ul>
    <li>Zero-TOTP servers are now hosted in France and in Canada to improve the data redundancy.</li>
</ul>



</section>