<section class="hero  is-halfheight m-6 pb-6" style="min-height: 70vh;">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-space-around	is-fullheight">
    <div class="has-text-centered	is-full is-flex is-justify-content-center">
      <p><span class="title is-1 is-full has-text-centered has-text-info has-text-weight-bold">
          {{ 'signup.welcome' | translate }} !</span><br />

        <span class="has-text-weight-bold has-text-grey">{{ 'signup.subtitle' | translate }}</span>

      </p>
    </div>
    <div class="has-text-centered	is-full is-flex is-flex-direction-column is-justify-content-center">
      <div class="has-text-centered columns p-5" >
      </div>
      <div class="field is-full is-flex is-justify-content-center has-addons ">
        <p class="control has-icons-left" style="min-width: 30vw;">
       <input class="input" type="text" placeholder="{{ 'username' | translate }}" name="username" [(ngModel)]="username" (keyup)="checkUsername()" [ngClass]="{'is-danger' : usernameErrorMessage != ''}"/>
       <span class="help has-text-left is-danger" *ngIf="usernameErrorMessage!=''">{{usernameErrorMessage}}</span>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </p>
        <p class="control">
          <a class="button" (click)="checkUsername()">
            <fa-icon [icon]="faCheck" *ngIf="usernameErrorMessage == ''"></fa-icon>
            <fa-icon [icon]="faXmark" *ngIf="usernameErrorMessage != ''"></fa-icon>
            </a>
        </p>

      </div>
      <div class="field is-full is-flex is-justify-content-center has-addons">
        <p class="control has-icons-left"  style="min-width: 30vw;">
           <input class="input" type="email" placeholder="{{ 'email' | translate }}" name="email" [(ngModel)]="email" (keyup)="checkEmail()" [ngClass]="{'is-danger' : emailErrorMessage != ''}"/>
           <span class="help has-text-left is-danger" *ngIf="emailErrorMessage!=''">{{emailErrorMessage}}</span>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
        </p>
        <p class="control">
          <a class="button"  (click)="checkEmail()">
            <fa-icon [icon]="faCheck" *ngIf="emailErrorMessage == ''"></fa-icon>
            <fa-icon [icon]="faXmark" *ngIf="emailErrorMessage != ''"></fa-icon>
          </a>
        </p>
      </div>
      <div class="field is-full is-flex is-justify-content-center has-addons">
        <p class="control has-icons-left"  style="min-width: 30vw;">
       <input class="input" type="{{isPasswordVisible ? 'text' : 'password'}}" placeholder="{{ 'passphrase' | translate }}" name="password" [(ngModel)]="password"(keyup)="checkPassword()" [ngClass]="{'is-danger' : passwordErrorMessage.length >1}" >
       <span class="help has-text-left is-danger" *ngIf="passwordErrorMessage.length >1">
          <span *ngFor="let error of passwordErrorMessage" >
            <span *ngIf="error!=''">{{error}}<br></span>
          </span>
        </span>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faKey"></fa-icon>
          </span>
        </p>
        <p class="control">
          <a class="button" (click)="isPasswordVisible = !isPasswordVisible">
            <fa-icon [icon]="faEyeSlash" size="sm"*ngIf="isPasswordVisible"></fa-icon><fa-icon [icon]="faEye" size="sm" *ngIf="!isPasswordVisible"></fa-icon>
          </a>
        </p>
      </div>
      <div class="field is-full is-flex is-justify-content-center has-addons">
        <p class="control has-icons-left "  style="min-width: 30vw;">
       <input class="input"  type="{{isConfirmPasswordVisible ? 'text' : 'password'}}"placeholder="{{ 'signup.passphrase.confirmation' | translate }}" name="confirmPassword" [(ngModel)]="confirmPassword" [ngClass]="{'is-danger' : passwordErrorMessage.length >1}" (keyup)="checkPassword()">
          <span class="icon is-small is-left">
            <fa-icon [icon]="faKey"></fa-icon>
          </span>
        </p>
        <p class="control">
          <a class="button" (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible">
            <fa-icon [icon]="faEyeSlash" *ngIf="isConfirmPasswordVisible" size="sm" ></fa-icon><fa-icon [icon]="faEye" *ngIf="!isConfirmPasswordVisible" size="sm"></fa-icon>
          </a>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="terms" [(ngModel)]="terms">
            {{ 'signup.checkbox.privacy_policy' | translate }} <a href="https://zero-totp.com/privacy">{{'privacy_policy' | translate}}</a>
          </label>
        </div>
  </div>
  <div class="has-text-centered mt-4 mb-4 is-flex is-justify-content-center is-align-items-center is-flex-wrap-wrap">
      <span> {{'login.instance.you_are_using' | translate}} </span>
      <div class="is-flex is-justify-content-center is-align-items-center">
      <div class="dropdown " [ngClass]="{'is-active': instance_dropdown_active, 'is-hoverable': !this.utils.isDeviceMobile()}">
        <div class="dropdown-trigger">
          <button class="button is-ghost pl-1" aria-haspopup="true" aria-controls="dropdown-menu" (click)="zero_totp_instance_button_click()"> {{current_domain}}
            <span class="tag is-success is-rounded  has-text-white ml-2" style="text-decoration: none !important;"
              *ngIf="current_domain == 'zero-totp.com'">{{'official' | translate}} </span>
            <span class="tag is-info is-rounded  has-text-white ml-2" style="text-decoration: none !important;"
              *ngIf="current_domain != 'zero-totp.com'">{{'self_hosted' | translate}}</span>
          </button>

        </div>
        
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content ">
            <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;">
              <strong>{{'login.instance.select.title' | translate}}</strong>
            </p>
            <hr class="dropdown-divider" />
            <a href="https://zero-totp.com/signup" class="dropdown-item has-text-centered"
              [ngClass]="{'is-active': current_domain == 'zero-totp.com'}"
              style="padding-left: 16px; padding-right: 16px;">zero-totp.com <span
                class="tag is-success is-rounded  has-text-white ml-2"
                style="text-decoration: none !important;">{{'official' | translate}}</span> </a>
            <a class="dropdown-item" 
              *ngIf="current_domain != 'zero-totp.com'" style="padding-left: 16px; padding-right: 16px;"
              [ngClass]="{'is-active': current_domain != 'zero-totp.com'}" (click)="instance_dropdown_active=false"> {{current_domain}}<span
                class="tag is-white is-rounded  has-text-black ml-2"
                style="text-decoration: none !important;">{{'self_hosted' | translate}}</span> </a>
            <hr class="dropdown-divider" />
            <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;">
              <strong>{{'login.instance.select.why.title' | translate}} </strong><br>
              {{'login.instance.select.why.p1' | translate}}
              <br>
              <strong>{{'login.instance.select.why.p2' | translate}}</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <a aria-haspopup="true" aria-controls="dropdown-menu4">
            <fa-icon [icon]="faCircleQuestion" class="has-text-grey"></fa-icon>
          </a>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p class="has-text-left"><strong>{{'login.instance.select.why.title' | translate}}</strong><br>
                {{'login.instance.select.why.p1' | translate}}<br>
                <strong>{{'login.instance.select.why.p2' | translate}}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>


    </div>
      </div>
      <div class="has-text-centered	">
      
      <div class="field">
        <div class="control">
          <button class="button is-info is-medium mt-6" (click)="openModal()" data-target="confirmation"  [ngClass]="{'is-loading': isLoading}" [disabled]="isLoading || emailErrorMessage != '' || passwordErrorMessage.length > 1 || usernameErrorMessage != '' || !terms || !beta">{{ 'signup.button.start' | translate }}
            </button>

<div id="confirmation" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isModalActive}">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
       <header class="modal-card-head">
      <h1 class="is-size-2 has-text-success">{{ 'signup.popup.title' | translate }}</h1>
      </header>
      <section class="modal-card-body">
        <div class="mt-2 has-text-left">
        <p>
        {{ 'signup.popup.subtitle.part1' | translate }} <strong>{{ 'signup.popup.subtitle.strong' | translate }}</strong></p><br>
      {{ 'signup.popup.subititle.part2' | translate }}<br><br>
      <p class="has-text-weight-bold has-text-success">
      {{ 'signup.popup.subititle.part3' | translate }}</p>
      <ul class="has-text-success">
        <li>
          🔐 <span class="has-text-weight-bold" >{{ 'signup.popup.subititle.part4' | translate }} : </span>  
          {{ 'signup.popup.subititle.part4_1' | translate }}
        </li>
         <li>
          🧠 <span class="has-text-weight-bold" >{{ 'signup.popup.subititle.part5' | translate }} :</span>
          {{ 'signup.popup.subititle.part5_1' | translate }}
        </li>
      </ul>
      
      </div>

      </section>
      
      <footer class="modal-card-foot is-flex is-justify-content-right">
        <button class="button mr-1" (click)="closeModal()">{{ 'cancel' | translate }}</button>
        <button class="button is-success ml-1"  (click)="signup()">{{ 'signup.button.create' | translate }}</button>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>

        </div>
      </div>
    </div>
  </div>
</section>