<section class="hero  is-fullheight-with-navbar ">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-space-around	is-fullheight">
    <div class="has-text-centered	is-full is-flex is-justify-content-center">
      <p><span class="title is-1 is-full has-text-centered has-text-info has-text-weight-bold">
          Welcome aboard !</span><br />

        <span class="has-text-weight-bold has-text-grey">Have a safe and pleasant zero-trip</span>

      </p>
    </div>
    <div class="has-text-centered	is-full is-flex is-flex-direction-column is-justify-content-center">
      <div class="field is-full is-flex is-justify-content-center">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Username"/>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </p>
       
      </div>
      <div class="field is-full is-flex is-justify-content-center">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email"/>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </p>
       
      </div>
      <div class="field is-full is-flex is-justify-content-center">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>
      </div>
      <div class="has-text-centered	">
      
      <div class="field">
        <div class="control">
          <button class="button is-info is-medium ">Start my zero-trip 
            </button>
        </div>
      </div>
    </div>
  </div>
</section>