<section class="hero is-halfheight mt-6 pt-2 pr-6 pl-6 has-background-light pb-6" style="min-height: 70vh;">
    <div class="container is-fluid ">
        <div>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold pt-6"
                style="line-height: normal;">{{ 'faq.title' | translate }}
            </h1>
        </div>
    </div>

    <article>
        <h4 class="is-size-5  mb-2">{{ 'faq.totp.title' | translate }}</h4>
        <div class="is-flex is-flex-direction-column is-align-items-center	">
        <div class="box" style="width: 100%;">
            <div class="is-flex is-justify-content-space-between	">
            <p class="has-text-weight-bold is-size-6">
                {{ 'faq.totp.q1' | translate }}
            </p>
            <div>
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </div>
        </div>
        </div>
    </div>

    </article>
    <article>
        <h4 class="is-size-5  has-text-weight-bold ">{{ 'faq.vault.title' | translate }}</h4>

    </article>

   
</section>  