<section class="hero  is-halfheight mt-6 " style="min-height: 70vh;">
    <div class="container  is-fluid ">
    <div>
        <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info pt-6">Here is your TOTP vault</h1>
        <p class="has-text-centered has-text-grey pb-6">You and only you can access to this data. All the magic is done
            on your computer.</p>
        <div class="is-flex is-justify-content-center columns is-flex-wrap-wrap is-desktop">
            <div class="column is-full-mobile
            is-one-third-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-one-quarter-fullhd">
                <a (click)="isModalActive = !isModalActive"><div class="card  " >
                    <header class="card-header">
                        <p class="card-header-title">Add a new TOTP code</p>
                    </header>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <p class="is-size-2"><fa-icon [icon]="faSquarePlus" style='color: #dbdbdb; height:20px;' ></fa-icon></p>
                        </div>
                    </div>
                </div></a>
            </div>
            <div class="column  is-full-mobile
            is-one-third-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-one-quarter-fullhd" *ngFor="let uuid of vaultDomain">
                <div class="card has-background-{{vault!.get(uuid)?.get('color')}} has-text-white">
                    <header class="card-header">
                        <p class="card-header-title  has-text-white">{{vault!.get(uuid)?.get('name')}}</p>
                        <button class="card-header-icon" aria-label="edit" (click)="edit(uuid)">
                            <span class="icon">
                                <fa-icon [icon]="faPen"></fa-icon>
                            </span>
                        </button>
                        <button class="card-header-icon" aria-label="copy" (click)="copy()" [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!">
                            <span class="icon">
                                <fa-icon [icon]="faCopy"></fa-icon>
                            </span>
                        </button>
                    </header>
                    <a class="noHover" (click)="copy()" [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!"><div class="card-content has-text-white" style="text-decoration: none;">
                        <div class="content has-text-centered">
                            <p class="is-size-2 has-text-weight-bold">{{vault!.get(uuid)?.get('code')}}
                                <br>
                                <progress class="progress is-small" value="{{remainingTime}}" max="100" style="height: 10px;">{{remainingTime}}%</progress>
                            </p>
                           
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<div id="addTOTPModal" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isModalActive}">
    <div class="modal-background" (click)="isModalActive = !isModalActive"></div>
    <div class="modal-content">
      <section class="modal-card-body">
        <h1 class="is-size-3">Choose a method to add a new TOTP code </h1>
      <div class="is-flex is-justify-content-center m-4">
      <button class="button is-info" (click)="navigate('/qrcode')">Scan a QRCode</button>
    </div>
      <div class="is-flex is-justify-content-center m-4">
      <button class="button" (click)="navigate('/vault/add')">Enter it manually</button>
    </div>
    </section>
      <footer class="modal-card-foot is-flex is-justify-content-right">
        <button class="button" (click)="isModalActive = !isModalActive">Cancel</button>
        </footer>
    <button class="modal-close is-large" aria-label="close" (click)="isModalActive = !isModalActive" ></button>
  </div>
  </div>