<section class="hero  is-halfheight mt-6 " style="min-height: 70vh;">
    <div class="container  is-fluid ">
        <div>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info pt-6">{{page_title | translate}} <span *ngIf="vault_date != undefined">{{vault_date}}</span></h1>
            <p class="has-text-centered has-text-grey pb-6">{{ 'vault.subtitle' | translate }} </p>
            <article class="message is-info" *ngIf="this.userService.getIsVaultLocal()">
                <div class="message-body">
                    {{ 'vault.local.desc.part1' | translate }}<br>
                    <b>{{ 'vault.local.desc.part2' | translate }}
                        <code>{{ 'vault.local.desc.code' | translate }}</code>{{ 'vault.local.desc.part3' | translate }}</b>.
                </div>
            </article>
            <div class="message is-success" *ngIf="!this.userService.getIsVaultLocal()">
                <div class="message"
                    [ngClass]="{'is-success': isGoogleDriveSync == 'uptodate' ||  isGoogleDriveSync == 'loading', 'is-warning': isGoogleDriveSync == 'error' || isGoogleDriveSync == 'false' }">
                    <div class="message-header" (click)="storageOptionOpen = !storageOptionOpen"
                        style="cursor: pointer;">
                        <p>{{ 'vault.storage.title' | translate }} <span
                                *ngIf="isGoogleDriveSync == 'error' || isGoogleDriveSync == 'false'"
                                class="tag is-small is-danger has-text-weight-bold ml-3">1</span></p>
                        <div class="has-text-weight-light"><span *ngIf="storageOptionOpen">{{ 'less' | translate }}</span>
                            <span *ngIf="!storageOptionOpen">{{ 'more' | translate }}</span>
                            <fa-icon [icon]="faChevronDown" class="pl-1" *ngIf="!storageOptionOpen"></fa-icon>
                            <fa-icon [icon]="faChevronUp" class="pl-1" *ngIf="storageOptionOpen"></fa-icon>
                        </div>
                    </div>
                    <div class="message-body">
                        <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap columns">
                            <div class="column is-full-mobile
                    is-four-fifths-tablet
                    is-one-third-desktop
                    is-one-third-widescreen
                    is-one-quarter-fullhd">
                                <div class="is-flex is-justify-content-center">
                                    <div class="tags has-addons mb-0" (click)="storageOptionOpen = true"
                                        style="align-items: normal;" aria-haspopup="true"
                                        aria-controls="dropdown-menu4">
                                        <span class="tag is-medium is-dark has-text-weight-bold" id="totp-tag"><fa-icon [icon]="faServer" class="pr-1"></fa-icon>
                                            {{ 'vault.storage.zero_totp.title' | translate }} </span>
                                        <span class="tag is-success is-medium" id="totp-status-tag"> <fa-icon
                                                [icon]="faCheckCircle"></fa-icon></span>
                                        <br>
                                    </div>
                                </div>
                                <div [hidden]="!storageOptionOpen" class="mb-3">
                                    <div class="is-flex is-flex-wrap-wrap is-justify-content-center mb-1">
                                    <p class="is-size-7 ">{{ 'vault.storage.zero_totp.location' | translate }}</p>
                                    </div>
                                    <div class="is-flex is-flex-wrap-wrap is-justify-content-center">
                                        <button class="button is-outlined is-dark" (click)="reload()"><fa-icon [icon]="faRotateRight"
                                                class="mr-3"></fa-icon> {{ 'vault.storage.zero_totp.reload' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class=" column is-full-mobile
                      is-four-fifths-tablet
                      is-one-third-desktop
                      is-one-third-widescreen
                      is-one-quarter-fullhd">
                                <div class="is-flex is-justify-content-center">
                                    <div class="tags has-addons mb-0" style="align-items: normal;"
                                        (click)="storageOptionOpen = true">
                                        <span class="tag is-medium is-dark" id="google-tag"> <fa-icon
                                                [icon]="faGoogleDrive" class="pr-1"></fa-icon> <span
                                                class=" has-text-weight-bold">Google Drive
                                            </span></span>
                                        <span class="tag is-danger is-medium "
                                            [ngClass]="{'is-danger':isGoogleDriveSync == 'false' || isGoogleDriveSync == 'error' , 'is-success':isGoogleDriveSync == 'uptodate', 'is-warning':isGoogleDriveSync == 'loading'}"
                                            id="google-status-tag">
                                            <fa-icon *ngIf="isGoogleDriveSync == 'false'"
                                                [icon]="faCircleXmark"></fa-icon>
                                            <fa-icon *ngIf="isGoogleDriveSync == 'uptodate'"
                                                [icon]="faCheckCircle"></fa-icon>
                                            <fa-icon *ngIf="isGoogleDriveSync == 'error'" [icon]="faCircleExclamation"
                                                animation="fade"></fa-icon>
                                            <fa-icon *ngIf="isGoogleDriveSync== 'loading'" [spin]="true"
                                                [icon]="faCircleNotch"></fa-icon></span>
                                    </div>
                                </div>
                                <div [hidden]="!storageOptionOpen" class="mb-3">
                                    <div class="is-flex is-flex-wrap-wrap is-justify-content-center"
                                        [hidden]="!storageOptionOpen">
                                        <button *ngIf="isGoogleDriveSync == 'false'"
                                            class="button  is-outlined is-dark mb-3 mr-2 ml-2"
                                            (click)="get_oauth_authorization_url()"><fa-icon [icon]="faLink"
                                                class="mr-3"></fa-icon> {{ 'vault.storage.google.sync' | translate }} </button>
                                        <button *ngIf="isGoogleDriveSync == 'false'"
                                            class="button  is-outlined is-dark mb-3 mr-2 ml-2" disabled><fa-icon
                                                [icon]="faCircleInfo" class="mr-3"></fa-icon> {{ 'vault.storage.google.info' | translate }}</button>

                                       
                                    
                                        <div *ngIf="isGoogleDriveSync == 'uptodate'" class="has-text-centered">
                                            <div class="is-size-7 ">{{ 'vault.storage.google.last_backup' | translate }} {{lastBackupDate}} 
                                                <div class="dropdown is-hoverable">
                                                    <div class="dropdown-trigger">
                                                      <a  aria-haspopup="true" aria-controls="dropdown-menu4">
                                                        <fa-icon
                                                [icon]="faCircleQuestion"></fa-icon>
                                                      </a>
                                                    </div>
                                                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                                      <div class="dropdown-content">
                                                        <div class="dropdown-item">
                                                          <p class="has-text-left"><strong>{{ 'vault.storage.google.about.desc1' | translate }}</strong><br> {{ 'vault.storage.google.about.desc2' | translate }}</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            <p class="has-text-centered mt-1">
                                                <button class="button  is-outlined is-dark mb-3 mr-2 ml-2"
                                                    (click)="disable_google_drive()"><fa-icon
                                                        [icon]="faCircleXmark" class="mr-3"></fa-icon> {{ 'vault.storage.google.stop_sync' | translate }}
                                                </button>
                                            </p>
                                        </div>
                                        <div *ngIf="isGoogleDriveSync == 'error'" class="has-text-centered">
                                            <p class="has-text-danger is-size-7 ">{{google_drive_error_message}}</p>
                                            <p class="has-text-centered mt-1">
                                                <button class="button  is-outlined is-dark mb-3 mr-2 ml-2"
                                                    (click)="resync_after_error()"><fa-icon [icon]="faLink"
                                                        class="mr-3"></fa-icon> {{ 'vault.storage.google.resync' | translate }} </button>
                                                        <button class="button  is-outlined is-dark mb-3 mr-2 ml-2"
                                                    (click)="disable_google_drive()"><fa-icon
                                                        [icon]="faCircleXmark" class="mr-3"></fa-icon> {{ 'vault.storage.google.stop_sync' | translate }}
                                                </button>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class=" column is-full-mobile
                    is-four-fifths-tablet
                    is-one-third-desktop
                    is-one-third-widescreen
                    is-one-quarter-fullhd">
                                <div class="is-flex is-justify-content-center">
                                    <div class="tags has-addons mb-0" style="align-items: normal;"
                                        (click)="storageOptionOpen = true">
                                        <span class="tag is-medium is-dark has-text-weight-bold" id="download-tag">
                                            <fa-icon [icon]="faDesktop" class="pr-1"></fa-icon>{{ 'vault.storage.local.title' | translate }}
                                        </span>
                                        <span class="tag is-info is-medium" id="download-status-tag"> <fa-icon
                                                [icon]="faDownload"></fa-icon></span>
                                    </div>
                                </div>
                                <div [hidden]="!storageOptionOpen" class="mb-3">
                                    <div class="is-flex is-flex-wrap-wrap is-justify-content-center"
                                        [hidden]="!storageOptionOpen">
                                        <button class="button  is-outlined is-dark mb-3 mr-2 ml-2"
                                            (click)="downloadVault()"><fa-icon [icon]="faDownload"
                                                class="mr-3 "></fa-icon>{{ 'vault.storage.local.save' | translate }}</button>
                                        <div class="dropdown" [ngClass]="{'is-active': isRestoreBackupModaleActive}">
                                            <div class="dropdown-trigger">
                                                <button class="button  is-outlined is-dark mr-2 ml-2 "
                                                    (click)="isRestoreBackupModaleActive = !isRestoreBackupModaleActive"
                                                    ria-haspopup="true" aria-controls="dropdown-menu"><fa-icon
                                                        [icon]="faUpload" class="mr-3 "></fa-icon>{{ 'vault.storage.local.open' | translate }}</button>
                                            </div>
                                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <a class="dropdown-item">
                                                        {{ 'vault.storage.local.restore' | translate }} <span class="tag is-info is-light"><fa-icon [icon]="faFlask"></fa-icon> {{ 'available_soon' | translate }}</span>
                                                    </a>
                                                    <a href="/login/#openVault" class="dropdown-item">
                                                        {{ 'vault.storage.local.open_ro' | translate }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field has-addons">
                <div class="control  has-icons-left is-expanded">
                  <input class="input" type="text" placeholder="Search" name="filter" [(ngModel)]="filter" (keyup)="filterVault()">
                  <span class="icon is-left">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                  </span>
                </div>
                <div class="control ">
                    <a class="button" (click)="filter='';filterVault() ">
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </a>
                  </div>
              </div>
              <div *ngIf=" this.userService.getVaultTags().length != 0" class="mb-4">
                <strong>{{'vault.filter.tag.title' | translate}} : </strong>
                <span class="tag is-rounded ml-4" style="cursor:pointer" [ngClass]="{'is-info':selectedTags.length == 0}" (click)="selectedTags=[]; filterVault()">All</span>
                <span *ngFor="let tag of  this.userService.getVaultTags()">
                  <span class="tag is-rounded ml-4 mt-2" style="cursor:pointer" [ngClass]="{'is-info':selectedTags.includes(tag)}" (click)="selectTag(tag)">{{tag}} </span>
                </span>
              </div>
            <span class="tag mb-4 is-light is-info" (click)="reload()" id="reloadVault"
                *ngIf="!this.userService.getIsVaultLocal()">{{ 'vault.button.reload' | translate }} <fa-icon [icon]="faRotateRight" class="pl-1"
                    [spin]=reloadSpin></fa-icon></span>
            <article class="hero is-halfheight" *ngIf="reloadSpin" style="min-height: 40vh;">
                <article class="hero-body is-flex is-justify-content-center" >
                  <div>
                      <fa-icon [icon]="faCircleNotch" [spin]="true" style="color:#000000;" size="2xl"></fa-icon >
                  </div>
              </article>
              </article>
            <div class="is-flex is-justify-content-center columns is-flex-wrap-wrap is-desktop" *ngIf="!reloadSpin">

                <div class="column is-full-mobile
            is-one-third-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-one-quarter-fullhd" *ngIf="!this.userService.getIsVaultLocal()">
                    <a (click)="isModalActive = !isModalActive">
                        <div class="card  ">
                            <header class="card-header">
                                <p class="card-header-title">{{ 'vault.button.add' | translate }}</p>
                            </header>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <p class="is-size-2"><fa-icon [icon]="faSquarePlus"
                                            style='color: #dbdbdb; height:20px;'></fa-icon></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column  is-full-mobile
            is-one-third-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-one-quarter-fullhd" *ngFor="let uuid of vaultDomain">
                    <div class="card has-text-white has-background-info" [ngClass]="{   'has-background-success': vault!.get(uuid)?.get('color') == 'success',
                                                                    'has-background-danger': vault!.get(uuid)?.get('color') == 'danger',   
                                                                    'has-background-warning': vault!.get(uuid)?.get('color') == 'warning',
                                                                }">
                        <header class="card-header">
                            <p class="card-header-title  has-text-white"><img src="{{get_favicon_url(vault!.get(uuid)?.get('domain'))}}" alt="" *ngIf="(vault!.get(uuid)?.get('favicon') == 'true' || faviconPolicy == 'always') && faviconPolicy != 'never'" width="25px" height="25px" style="margin-right: 6px;">
                                {{vault!.get(uuid)?.get('name')}}</p>
                            <button class="card-header-icon" aria-label="edit" (click)="edit(uuid)">
                                <span class="icon">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </span>
                            </button>
                            <button class="card-header-icon" aria-label="copy" (click)="copy()"
                                [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!">
                                <span class="icon">
                                    <fa-icon [icon]="faCopy"></fa-icon>
                                </span>
                            </button>
                        </header>
                        <a class="noHover" (click)="copy()" [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!">
                            <div class="card-content has-text-white" style="text-decoration: none;">
                                <div class="content has-text-centered">
                                    <p class="is-size-2 has-text-weight-bold">{{vault!.get(uuid)?.get('code')}}
                                        <br>
                                        <progress class="progress is-small" value="{{remainingTime}}" max="100"
                                            style="height: 10px;">{{remainingTime}}%</progress>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="addTOTPModal" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isModalActive}">
    <div class="modal-background" (click)="isModalActive = !isModalActive"></div>
    <div class="modal-content">
        <section class="modal-card-body">
            <h1 class="is-size-3">{{ 'vault.add.title' | translate }}</h1>
            <div class="is-flex is-justify-content-center m-4">
                <button class="button is-info" (click)="navigate('/qrcode')">{{ 'vault.add.scan' | translate }}</button>
            </div>
            <div class="is-flex is-justify-content-center m-4">
                <button class="button" (click)="navigate('/vault/add')">{{ 'vault.add.manual' | translate }}</button>
            </div>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-right">
            <button class="button" (click)="isModalActive = !isModalActive">{{"cancel" | translate}}</button>
        </footer>
        <button class="modal-close is-large" aria-label="close" (click)="isModalActive = !isModalActive"></button>
    </div>
</div>