<section class="hero  is-halfheight m-6 has-text-dark has-text-weight-medium	" style="min-height: 70vh;">
<h1 class="is-size-3-mobile  is-size-1-tablet mt-4 has-text-weight-bold ">Rescue Zero-TOTP Privacy Policy</h1>

<p class="is-italic has-text-weight-light	">Last Updated: 06/10/2026 21h47 UTC</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">1. Introduction</h2>

<p class="indent">Thank you for using our Vault Opening Service. We are committed to protecting your privacy and providing a transparent experience. This Privacy Policy outlines how we handle your information when you use our website.</p><br/>

<p class="indent"><strong>
    Long story short, Rescue Zero-TOTP collects absolutely no data, does not use any external service, is open source and perform any and every operation in your browser. We do not have access to your data, and we do not store any data.

</strong>
</p>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">1. No Data Collection</h2>
<ul>
    <li>
        We do not collect any personal information, user data, or sensitive details.
    </li>
    <li>
        No cookies, trackers, or any form of user identification is employed
    </li>
</ul>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">2. Decentralized Decryption</h2>

<ul>
<li>All decryption operations occur solely within your browser.</li>

<li>Your decryption passphrase, or any keys or data, never leaves your device or reaches our servers.</li>

</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">3. Static Website</h2>

<ul>

    <li>Our website is entirely static, meaning it does not make any requests to external servers.</li>

 <li>No external APIs are utilized for any purpose.</li>
</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">4. Open Source and GPLv4</h2>

<ul>
    <li>
        The source code of our website is open and available under the GPLv4 license.
    </li>
    <li>
        You can review, modify, and contribute to the code as per the terms of the license.

    </li>
    <li>
        You can access the complete source code of our application on <a href="https://github.com/SeaweedbrainCY/zero-totp" >https://github.com/SeaweedbrainCY/zero-totp</a>
    </li>
</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">5. Security</h2>

<p class="indent">We employ industry-standard security measures to protect your data. The key derivation uses PBKDF2 with 700,000 iterations. Data is encrypted using AES 256-bit encryption.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">6. Purpose Limitation</h2>

<ul>
    <li>
        Our service exists solely to assist users in opening their vaults securely.
    </li>
    <li>
        We do not engage in any secondary use of your information.
    </li>
    </ul>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">7. No Transmission of Data</h2>

<ul>
    <li>
        We do not transmit any data to external servers.
    </li>
    <li>
        Your decryption process is confined to your local environment.

    </li>
</ul>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">8. User Responsibility</h2>


<ul>
    <li>Users are responsible for managing and securing their decryption keys.</li>


            <li>We are not liable for any loss or compromise of keys.</li>


</ul>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">9. Changes to this Privacy Policy</h2>

<p class="indent">We may update this Privacy Policy to reflect changes in our practices or legal requirements. It is your responsibility to review this policy periodically.
</p>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">11. Contact Us</h2>


<p>If you have any questions or concerns about this Privacy Policy or your data, please contact us at developer[at]zero-totp.com.</p>
</section>
