<div class="is-flex is-justify-content-center is-align-items-center" style=" height: 100vh;">
    <div class="has-text-centered">
        <div class="is-hidden-mobile">
            <img src="assets/404.png" alt="Logo 404" style="height: 200px;"/>
        </div>
        <div class="is-hidden-desktop">
            <img src="assets/404.png" alt="Logo 404" style="height: 100px;"/>
        </div>
        <p class="is-size-5 has-text-weight-medium"> <span class="has-text-danger">Opps!</span> Page not found.</p>
        <p class="is-size-6 mb-2">
            The page you’re looking for doesn’t exist.
        </p>
        <a id="menuButton" (click)="navigateToRoute('/')" class="button is-info is-medium has-text-weight-semibold block">Go Home</a>
    </div>
</div>
