<section>
  <article
    class="hero is-fullheight is-dark is-flex is-flex-direction-column is-justify-content-center is-align-items-center  is-hidden-mobile is-hidden-tablet-only">
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center	">
      <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap columns" id="homeFirstHero">
        <div class="is-one-third column">
          <h1 class="is-size-1 has-text-weight-bold is-family-secondary	" style="line-height: normal;" translate>home.title <strong class="has-text-danger" translate>home.title.strong</strong> </h1><br>
          <h3 translate>home.subtitle <strong class="has-text-danger" translate>home.subtitle.opensource</strong> home.subtitle.and <strong
              class="has-text-danger" translate>home.subtitle.zke</strong> home.subtitle.platform</h3><br>
          <h2><strong class="has-text-weight-semibold is-size-5" translate>home.trust.no.one</strong></h2><br><br>
          <div class="buttons">
            <a class="button is-info  is-medium has-text-weight-semibold" href="/login" translate>home.button.openVault</a>
            <a class="button is-info is-light is-medium has-text-weight-semibold " href="#totp" translate>home.button.learnMore</a>
            </div>
        </div>
        <div class="is-half column is-flex is-flex-direction-column is-justify-content-center">
          <img src="assets/logo_zero_totp_light.png" alt="Logo of Zero TOTP" />
        </div>
      </div>
    </div>
  </article>
  <article
    class="hero is-fullheight is-dark is-flex is-flex-direction-column is-justify-content-space-around columns is-hidden-desktop p-6">
    <div class="column is-flex is-flex-direction-column is-justify-content-center mt-4">
      <img src="assets/logo_zero_totp_light.png" alt="Logo of Zero TOTP" />
    </div>
    <div class="column has-text-centered">
      <h1 class="is-size-2 has-text-weight-bold is-family-secondary" style="line-height: normal;" translate>home.title <span class="has-text-danger" translate>home.title.strong</span> </h1><br>
      <h3 translate>home.subtitle <strong class="has-text-danger" translate>home.subtitle.opensource</strong> home.subtitle.and <strong
          class="has-text-danger" translate>home.subtitle.zke</strong> home.subtitle.platform</h3><br>
      <h2><strong class="has-text-weight-semibold is-size-5 " translate>home.trust.no.one</strong></h2><br><br>
      <div class="has-text-centered">
        <a class="button is-info  is-medium has-text-weight-semibold" href="/login" translate>home.button.openVault</a><br>
        <a class="button is-info is-light is-medium has-text-weight-semibold" href="#how-it-works" translate>home.button.learnMore</a>
      </div>
    </div>
  </article>

  <article class="hero is-half has-text-dark" id="totp">
    <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 has-text-dark mr-4 ml-4">{{"home.tuto.title" | translate}}</h1>
    <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap columns mt-6">
      <div class="column  is-half-fullhd is-half-widescreen is-half-desktop is-two-thirds-tablet is-two-thirds-mobile is-flex is-flex-direction-column is-justify-content-center ">
        <div class="message is-medium is-info">
          <div class="message-body">
         {{ 'home.tuto.totp_are' | translate }} <strong class="has-text-info">{{ 'home.tuto.tmp_codes' | translate }}</strong> {{ 'home.tuto.use_as' | translate }} <strong class="has-text-danger">{{ 'home.tuto.2FA' | translate }}</strong> {{ 'home.tuto.accounts' | translate }}<br><br>
        {{ 'home.tuto.totp_time' | translate }} <strong class="has-text-danger">30 {{ 'seconds' | translate }}</strong>. {{ 'home.tuto.totp_client.desc' | translate }} <strong class="has-text-info">{{ 'home.tuto.totp_client.name' | translate }}</strong>.<br><br>
      </div>
    </div>
      </div>
      <div class="column  is-one-third-fullhd is-one-third-widescreen is-one-third-desktop is-two-thirds-tablet is-two-thirds-mobile is-flex is-flex-direction-column is-justify-content-center">
        <div class="card has-background-{{example_color}} has-text-white">
          <header class="card-header">
              <p class="card-header-title  has-text-white"><img src="assets/example-icons/{{example_ico}}" alt="{{example_domain}} logo"  width="25px" height="25px" style="margin-right: 6px;">
                  {{example_title}}</p>
              <button class="card-header-icon" aria-label="edit">
                  <span class="icon">
                      <fa-icon [icon]="faPen"></fa-icon>
                  </span>
              </button>
              <button class="card-header-icon" aria-label="copy" (click)="copy()"
                  [cdkCopyToClipboard]="example_code">
                  <span class="icon">
                      <fa-icon [icon]="faCopy"></fa-icon>
                  </span>
              </button>
          </header>
          <a class="noHover" (click)="copy()" [cdkCopyToClipboard]="example_code">
              <div class="card-content has-text-white" style="text-decoration: none;">
                  <div class="content has-text-centered">
                      <p class="is-size-2 has-text-weight-bold">{{example_code}}
                          <br>
                          <progress class="progress is-small" value="{{remainingTime}}" max="100"
                              style="height: 10px;">{{remainingTime}}%</progress>
                      </p>

                  </div>
              </div>
          </a>
      </div>
      
      </div>

    </div>
  </article>
  <article class="hero is-half has-text-dark" id="why-zero-totp">
    <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 has-text-dark mt-6">{{ 'home.why.title' | translate }}</h1>
    <div class="is-flex is-justify-content-center is-flex-wrap-wrap columns ">
      <div
        class="card column  is-one-third-fullhd is-one-third-widescreen is-one-third-desktop is-two-thirds-tablet is-two-thirds-mobile m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faLock" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">{{ 'home.why.strong_enc.title' | translate }}</h1>
            <strong>{{ 'home.why.strong_enc.strong' | translate }}</strong> {{ 'home.why.strong_enc.l1' | translate }}<br><br>{{ 'home.why.strong_enc.l2' | translate }}
          </div>
        </div>
      </div>
      <div
        class="card column   is-one-third-fullhd is-one-third-widescreen is-one-third-desktop is-two-thirds-tablet is-two-thirds-mobile m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faEyeSlash" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">{{ 'home.why.zke.title' | translate }}</h1>
            {{ 'home.why.zke.desc.1' | translate }} <strong>{{ 'home.why.zke.desc.strong' | translate }}</strong> {{ 'home.why.zke.desc.2' | translate }}
          </div>
        </div>
      </div>
      <div
        class="card column   is-one-third-fullhd is-one-third-widescreen is-one-third-desktop is-two-thirds-tablet is-two-thirds-mobile m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faUserLock" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">{{ 'home.why.key.title' | translate }}</h1>
            <strong>{{ 'home.why.key.desc1' | translate }}</strong> {{ 'home.why.key.desc2' | translate }}
          </div>
        </div>
      </div>
      <div
        class="card column   is-one-third-fullhd is-one-third-widescreen is-one-third-desktop is-two-thirds-tablet is-two-thirds-mobile m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faGithub" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">{{ 'home.why.opensource.title' | translate }}</h1>
            {{ 'home.why.opensource.desc1' | translate }}<strong> {{ 'home.why.opensource.desc2' | translate }}</strong>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="hero is-halfheight is-info has-text-white " id="never-lose-data">
    <div class="is-hidden-mobile is-hidden-tablet-only">
    <header>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold p-3 mt-6">{{ 'home.data.title' | translate }}</h1>
      <h2 class="is-size-5 has-text-centered subtitle has-text-lightgray">{{ 'home.data.subtitle' | translate }}
      </h2>
    </header>
    <div class=" hero-body is-flex is-flex-direction-column" style="align-items: normal;">
      <div class="is-flex is-justify-content-center columns is-flex-wrap-wrap mb-5">
        <div class="column is-one-quarter is-flex is-flex-direction-column is-justify-content-center">
          <img src="assets/logo_zero_totp_dark.png" class="box" alt="Logo of Zero TOTP" />
        </div>
        <div class="column is-two-thirds is-flex is-flex-direction-column is-justify-content-center ">
          <strong class="is-size-4">{{ 'home.data.zero_totp.title' | translate }}</strong>
          <p [innerHTML]="'home.data.zero_totp.desc' | translate "></p>
        </div>
      </div>
      <div class="is-flex is-justify-content-center columns mb-5">
          <div class="column is-one-quarter is-flex is-flex-direction-column is-justify-content-center">
            <img src="assets/google_drive_logo.png" class="box" alt="Logo of Google Drive" />
          </div>
          <div class="column is-two-thirds is-flex is-flex-direction-column is-justify-content-center">
            <strong class="is-size-4">{{ 'home.data.google.title' | translate }}</strong>
            <p [innerHTML]="'home.data.google.desc' | translate"></p>
          </div>
        </div>
        <div class="is-flex is-justify-content-center columns mb-5">
          <div class="column is-one-quarter is-flex is-flex-direction-column is-justify-content-center">
            <img src="assets/download.png" class="box" alt="Download icon" />
          </div>
          <div class="column is-two-thirds is-flex is-flex-direction-column is-justify-content-center">
            <strong class="is-size-4">{{ 'home.data.local.title' | translate }}</strong>
            <p [innerHTML]=" 'home.data.local.desc' | translate"></p>
          </div>
        </div>
      </div>
    </div>

  
    <div class="is-hidden-desktop">
    <header>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 p-3">{{ 'home.data.title' | translate }}</h1>
      <h2 class="is-size-5 has-text-centered subtitle has-text-lightgray">{{ 'home.data.subtitle' | translate }}
      </h2>
    </header>
    <div class=" hero-body is-flex is-flex-direction-column has-text-centered">
      <div class="columns is-flex is-flex-wrap-wrap is-justify-content-center is-mobile mb-6">
        <div class="column is-8 is-mobile">
          <img src="assets/logo_zero_totp_dark.png" class="box" alt="Logo of Zero TOTP" />
        </div>
        <div class="column is-11">
          <strong class="is-size-4">{{ 'home.data.zero_totp.title' | translate }}</strong>
          <p [innerHTML]="'home.data.zero_totp.desc' | translate "></p>
        </div>
      </div>
      <div class="columns is-flex is-flex-wrap-wrap is-justify-content-center is-mobile  mb-6">
          <div class="column is-8 is-mobile">
            <img src="assets/google_drive_logo.png" class="box" alt="Logo of Google Drive" />
          </div>
          <div class="column is-11">
          <strong class="is-size-4">{{ 'home.data.google.title' | translate }}</strong>
          <p [innerHTML]="'home.data.google.desc' | translate"></p>
          </div>
        </div>
        <div class="columns is-flex is-flex-wrap-wrap is-justify-content-center is-mobile  mb-6">
          <div class="column is-8 is-mobile">
            <img src="assets/download.png" class="box" alt="Download icon" />
          </div>
          <div class="column is-11">
            <strong class="is-size-4">{{ 'home.data.local.title' | translate }}</strong>
              <p [innerHTML]=" 'home.data.local.desc' | translate"></p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="hero is-halfheight" id="backup-plan">
    <header>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 p-3" >{{ 'home.backup.title' | translate }} <span
          class="has-text-danger">{{ 'home.backup.title_strong' | translate }}</span></h1>
          <div class="hero-body  is-flex is-flex-direction-column has-text-left is-size-6" style="align-items: normal;">
            <p>{{ 'home.backup.desc' | translate }} <strong>{{ 'home.backup.desc_strong' | translate }}</strong></p><br><br>
            <div><ul class="fa-ul">
              <li class="mt-4"><span class="fa-li"><fa-icon [icon]="faHouse" size="lg" class="has-text-success"></fa-icon></span><strong><a href="https://zero-totp.com" class="has-text-success"> zero-totp.com</a></strong>. {{ 'home.backup.option.zero_totp' | translate }}<br><span class="tag is-warning is-light">{{ 'home.backup.option.beta' | translate }}</span></li>
              <li class="mt-4"><span class="fa-li"><fa-icon [icon]="faKitMedical" size="lg" class="has-text-danger"></fa-icon></span><strong ><a href="https://rescue.zero-totp.com" class="has-text-danger">rescue.zero-totp.com</a></strong>. {{ 'home.backup.option.rescue' | translate }}<br><span class="tag is-success is-light" >{{ 'home.backup.option.available' | translate }}</span>
              </li>
              <li class="mt-4"><span class="fa-li"><fa-icon [icon]="faMobileScreenButton" size="lg" class="has-text-info"></fa-icon></span><strong class="has-text-info">Zero-TOTP mobile app</strong>. {{ 'home.backup.option.mobile' | translate }}<br><span class="tag is-warning is-light">{{ 'home.backup.option.soon' | translate }}</span>
              </li>
              <li class="mt-4"><span class="fa-li"><fa-icon [icon]="faCode" size="lg" class="has-text-dark"></fa-icon></span><strong class="has-text-dark">The Command Line Interface client</strong>. {{ 'home.backup.option.cli' | translate }}<br><span class="tag is-warning is-light">{{ 'home.backup.option.soon' | translate }}</span>
              </li>
            </ul></div>
          </div>
          
    </header>

  </article>
  <article class="hero is-halfheight is-danger has-text-white" id="ZKE">
    <header>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 p-3">{{ 'home.about.title' | translate }}</h1>
    </header>
    <div class="hero-body">
    <p class="box is-italic" >
      {{ 'home.about.zke_def' | translate }}
    </p></div>
  </article>
  <article class="hero is-halfheight" id="project">
    <header>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 p-3" >{{ 'home.project.title' | translate }}</h1>
    </header>
    <div class="hero-body is-flex is-flex-direction-column">
    <p class="has-text-centered has-text-weight-semibold mb-4">
      {{ 'home.project.desc.part1' | translate }} <a href="https://nathan.stchepinsky.net">Nathan Stchepinsky</a> {{ 'home.project.desc.part2' | translate }}<br>
      {{ 'home.project.desc.contributions' | translate }}
    </p>
    <p>
      <a class="button is-light is-info mb-4" href="https://github.com/SeaweedbrainCY/zero-totp"><fa-icon [icon]="faGithub" size="xl" class="mr-1"></fa-icon> {{ 'home.button.github_project' | translate }}</a>
    </p>
    <!-- Buy me a coffee link :-->
    <p class="has-text-danger has-text-weight-bold has-text-centered">{{ 'home.buyMeCoffee.desc' | translate }} <a href="https://www.buymeacoffee.com/nathanstchepinsky" class="has-text-danger">{{ 'home.button.buy_me_a_coffee' | translate }}</a> !</p><br>
    <p class="has-text-centered mt-2">
      <a href="https://www.buymeacoffee.com/seaweedbrainCY" target="_blank" rel="noopener noreferrer"><img src="assets/buy_me_coffee.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
    </p>
    </div>

  </article>
</section>