
<section>
  <article class="hero is-fullheight-with-navbar is-dark is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
      <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap columns">
          <div class="is-one-third column">
            <h1 class="is-size-1 has-text-weight-bold is-family-secondary	">Safely store your <strong class="has-text-danger">totp code</strong> for free</h1>
            <h3>Zero-TOTP is a <strong class="has-text-danger">100% open-source</strong> and a <strong class="has-text-danger">zero-knwoledge infrastructure</strong> platform</h3><br>
            <h2><strong class="has-text-weight-semibold is-size-5 ">Trust no one, except YOU</strong></h2><br><br>
            <p class="buttons">
              <button class="button is-info  is-medium has-text-weight-semibold">Create your vault</button>
              <button class="button is-info is-light is-medium has-text-weight-semibold">Learn more</button>
            </p>
          </div>
          <div class="is-half column is-flex is-flex-direction-column is-justify-content-center">
              <img src="assets/logo_zero_totp_light.png" alt="Logo of Zero TOTP"/>
          </div>
        </div>
    </div>
  </article>
  <article class="hero is-half has-text-dark">
    <h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6 has-text-dark ">How it works</h1>
    <div class="is-flex is-justify-content-center is-flex-wrap-wrap columns ">
      <div class="card column is-one-third m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faLock" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">Strong encryption</h1>
            <strong>All your data is encrypted</strong> with AES256, a very strong encryption standard.<br><br>Only you can decrypt your data with your password.
          </div>
        </div>
      </div>
      <div class="card column is-one-third m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faEyeSlash" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">Zero-knwoledge encryption</h1>
            Zero-TOTP use zero-knwoledge encryption with means than <strong>no one can access your data</strong> except you. Even the server administrator can't access your data. You and only you are able to decrypt your vault.
          </div>
        </div>
      </div>
      <div class="card column is-one-third m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faUserLock" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">Your are the key holder</h1>
            <strong>Only your passphrase can decrypt your vault</strong>. All the encryption is performed in your browser, and your data is safe before it has even left your device !
          </div>
        </div>
      </div>
      <div class="card column is-one-third m-6">
        <header class="card-header">
          <p class="card-header-title is-flex is-justify-content-center">
            <span><fa-icon [icon]="faGithub" size="2xl"></fa-icon></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h1 class="has-text-weight-bold is-size-3">100% open-source</h1>
            Zero-TOTP is 100% open source and 100% free. Never trust anyone but you. <strong>We are 100% transparent and anyone can access to the source code</strong>
          </div>
        </div>
      </div>

    </div>
  </article>
  <article class="hero is-halfheight is-info has-text-white">
    <header>
<h1 class="is-size-1 has-text-centered has-text-weight-bold mt-6">Never loose your data</h1>
<h2 class="is-size-5 has-text-centered subtitle has-text-lightgray">You choose where you store your encrypted vault</h2>
</header>

  </article>
</section>