ul {
    list-style-type: circle;
    list-style-position: inside;
}

li{
    padding-left: 5%;
}

.indent { 
    text-indent: 30px;
 }
 section {
    padding-left: 5%;
    padding-right: 5%;
}



 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section {
        padding-left: 0;
        padding-right: 0;
    }
 }