<section class="hero  is-halfheight mt-6 " style="min-height: 70vh;">
    <article class="hero hero-body is-flex is-justify-content-center is-flex-direction-column">
        <div class="box">
            <p class="has-text-centered">
        <img src="assets/logo_zero_totp_dark.png" alt="logo" width="200" height="200"/>
    </p>
        <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info">Verify your email address <fa-icon [icon]="faPaperPlane"></fa-icon></h1>
        <p class="is-size-6 has-text-centered has-text-weight-bold has-text-grey">We have sent you an email with a <code class="is-family-code">code</code> to verify your email address.</p>
        <div class="is-flex">
        <input class="input mt-6" type="password" placeholder="Enter the code here">
        
            <button class="button is-info  is-outlined mt-6 ml-2">Verify</button>
        </div>
        <div>
            <p class="has-text-grey has-text-centered mt-6">
                The code is valid for 10 minutes. If you don't receive the email, check your spam folder or <a class="has-text-info" >ask for a new code <fa-icon [icon]="faArrowRotateLeft"></fa-icon></a>
            </p>
            </div>
    </div>
    </article>
</section>