<section class="hero  is-halfheight m-6 has-text-dark has-text-weight-medium	" style="min-height: 70vh;">
<h1 class="is-size-3-mobile  is-size-1-tablet mt-4 has-text-weight-bold ">{{ 'privacy.title' | translate }}</h1>

<p class="is-italic has-text-weight-light	">{{ 'privacy.update' | translate }}: 25/09/2024 11h45</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">1. {{ 'privacy.subtitle.intro' | translate }}</h2>

<p class="indent">{{ 'privacy.intro.part1' | translate }}</p><br>

<p class="indent">{{ 'privacy.intro.part2' | translate }}</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">2.{{ 'privacy.collect.title' | translate }}</h2>

<p>{{ 'privacy.collect.part1' | translate }}</p><br>

<ul>
<li><span class="has-text-weight-bold">{{ 'privacy.collect.li1.short' | translate }}</span> {{ 'privacy.collect.li1.long' | translate }}</li>

<li><span class="has-text-weight-bold">{{ 'privacy.collect.li2.short' | translate }}</span>{{ 'privacy.collect.li2.long' | translate }}</li>

<li><span class="has-text-weight-bold">{{ 'privacy.collect.li3.short' | translate }}</span> {{ 'privacy.collect.li3.long' | translate }}</li>

<li><span class="has-text-weight-bold">{{ 'privacy.collect.li4.short' | translate }}</span> {{ 'privacy.collect.li4.long' | translate }}</li>

<li><span class="has-text-weight-bold">{{ 'privacy.collect.li5.short' | translate }}</span> {{ 'privacy.collect.li5.long' | translate }}</li>

</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">3. {{ 'privacy.usage.title' | translate }}</h2>

<p>{{ 'privacy.usage.part1' | translate }}</p><br/>
<ul>

    <li><span class="has-text-weight-bold">{{ 'privacy.usage.auth.short' | translate }}</span> {{ 'privacy.usage.auth.long' | translate }}</li>

 <li><span class="has-text-weight-bold">{{ 'privacy.usage.enc.short' | translate }}</span> {{ 'privacy.usage.enc.long' | translate }}</li>

       <li><span class="has-text-weight-bold">{{ 'privacy.usage.google.short' | translate }}</span>{{ 'privacy.usage.hoohle.long' | translate }}</li>

           <li><span class="has-text-weight-bold">{{ 'privacy.usage.support.short' | translate }}</span> {{ 'privacy.usage.support.long' | translate }} developer[at]zero-totp.com.</li>
</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">4. {{ 'privacy.retention.title' | translate }}</h2>

<p><span class="has-text-weight-bold">{{ 'privacy.retention.short' | translate }}</span> {{ 'privacy.retention.long1' | translate }}<br/><br/> {{ 'privacy.retention.long2' | translate }}</p><br/>


<p><span class="has-text-weight-bold">{{ 'privacy.retention.correction.short' | translate }}</span> {{ 'privacy.retention.correction.long' | translate }} </p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">5. {{ 'privacy.location.title' | translate }}</h2>
<p class="indent">{{ 'privacy.location.long1' | translate }}<br><br>{{ 'privacy.location.long2' | translate }} </p>


<h2 class="is-size-4 has-text-weight-bold mt-6 ">6. {{ 'privacy.security.title' | translate }}</h2>

<p class="indent">{{ 'privacy.security.desc' | translate }}</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">7. {{ 'privacy.thirdparty.titles' | translate }}</h2>

<p class="indent">{{ 'privacy.thirdparty.part1' | translate }}</p><br>
<p class="indent">
   {{ 'privacy.thirdpart.part2' | translate }}
</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">8. {{ 'privacy.cookies.title' | translate }}</h2>

<p>{{ 'privacy.cookies.desc' | translate }}</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">9. {{ 'privacy.rights.title' | translate }}</h2>

<p>{{ 'privacy.rights.desc' | translate }}</p><br/>

<ul>
    <li><span class="has-text-weight-bold">{{ 'privacy.rights.access.short' | translate }}</span> {{ 'privacy.rights.long' | translate }}</li>

        <li><span class="has-text-weight-bold">{{ 'privacy.rights.rectification.short' | translate }}</span> {{ 'privacy.rights.rectification.long' | translate }}</li>

            <li><span class="has-text-weight-bold">{{ 'privacy.rights.erasure.short' | translate }}</span>{{ 'privacy.rights.erasure.long' | translate }}</li>

                <li><span class="has-text-weight-bold">{{ 'privacy.portability.short' | translate }}</span> {{ 'privacy.portability.long' | translate }}</li>

                    <li><span class="has-text-weight-bold">{{ 'privacy.rights.objection.short' | translate }} </span> {{ 'privacy.rights.objection.long' | translate }}</li>
</ul><br>
<p>{{ 'privacy.rights.desc2' | translate }}</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">10. {{ 'privacy.changes.title' | translate }}</h2>

<p class="indent">{{ 'privacy.changes.desc' | translate }}</p>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">11. {{ 'privacy.liability.title' | translate }}</h2>

<p class="indent">{{ 'privacy.liability.desc1' | translate }}</p><br/>

<p class="indent">{{ 'privacy.liability.desc2' | translate }}</p><br/>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">12. {{ 'privacy.licence.title' | translate }}</h2>

<p class="indent">{{ 'privacy.licence.desc1' | translate }}</p><br/>

<p class="indent">{{ 'privacy.licence.desc2' | translate }} <a href="https://github.com/SeaweedbrainCY/zero-totp" >https://github.com/SeaweedbrainCY/zero-totp</a>.</p><br/>

    <p class="indent">{{ 'privacy.licence.desc3' | translate }}</p>


<h2 class="is-size-4 has-text-weight-bold mt-6 ">13. {{ 'privacy.contact.title' | translate }}</h2>

<p>{{ 'privacy.contact.desc1' | translate }} developer[at]zero-totp.com.</p>
</section>