<section class="hero  is-halfheight m-6 has-text-dark has-text-weight-medium	" style="min-height: 70vh;">
<h1 class="is-size-3-mobile  is-size-1-tablet mt-4 has-text-weight-bold ">Zero-TOTP Privacy Policy</h1>

<p class="is-italic has-text-weight-light	">Last Updated: 18/11/2023 22h12</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">1. Introduction</h2>

<p class="indent">Welcome to Zero-TOTP, a web application where users can securely store their TOTP codes for 2FA authentication with third-party services. At Zero-TOTP, we prioritize the privacy and security of your data. This Privacy Policy outlines how we collect, use, and protect your information. By using our services, you agree to the terms of this Privacy Policy.</p><br>

<p class="indent">This Privacy Policy aims to define the principles and guidelines implemented by the Zero-TOTP regarding the processing of personal data of users of the website zero-totp.com and rescue.zero-totp.com. The concept of "personal data" corresponds to the definition provided by Article 4 of the General Data Protection Regulation of the European Union (GDPR 2016/679). It refers to any information capable of directly or indirectly identifying a natural person, such as a username, email address, etc. Zero-TOTP affirms its commitment to complying with the applicable laws and regulations concerning data protection and undertakes to preserve their security, confidentiality, and integrity. Zero-TOTP formally commits not to sell, rent, exchange, or give away any personal information.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">2. Information We Collect</h2>

<p>We collect the following information:</p><br>

<ul>
<li><span class="has-text-weight-bold">User Account Information:</span> We collect your email address, username, and account creation date for the purpose of creating and managing your Zero-TOTP account.</li>

<li><span class="has-text-weight-bold">Encrypted TOTP Codes:</span> We use Zero-Knowledge Encryption to store your TOTP codes securely. We have no knowledge of your TOTP codes, secrets, or application URLs.</li>

<li><span class="has-text-weight-bold">Google Drive Integration: </span> If you choose to enable backup to Google Drive, we store encrypted identifiers for Google Drive integration. You can revoke at any moment your google drive integration. This will lead to the deletion of your encrypted credentials.</li>

<li><span class="has-text-weight-bold">Authentication Cookies: </span> We use authentication cookies to securely manage your sessions. No tracking cookies are used.</li>
</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">3. Use of Information</h2>

<p>We use your information for the following purposes:</p><br/>
<ul>

    <li><span class="has-text-weight-bold">User Authentication:</span> To verify your identity and secure your account.</li>

 <li><span class="has-text-weight-bold">Encrypted Storage:</span> To securely store your TOTP codes without knowledge of the actual codes, secrets, or application URLs.</li>

       <li><span class="has-text-weight-bold">Google Drive Backup:</span> If enabled, to facilitate the backup of encrypted data to your Google Drive.</li>

           <li><span class="has-text-weight-bold">Customer Support:</span> To respond to your inquiries and requests sent to developer[at]zero-totp.com.</li>
</ul>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">4. Data Retention and User Control</h2>

<p><span class="has-text-weight-bold">Data Retention:</span> We retain your data for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by applicable law. You can request the deletion of your account and associated data by contacting us at developer[at]zero-totp.com or through the account settings at any time.</p><br/>


<p><span class="has-text-weight-bold">Data Correction:</span> You can rectify your username, email, and passphrase in your account settings.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">5. Security</h2>

<p class="indent">We employ industry-standard security measures to protect your data. Passwords are hashed using BCRYPT, and key derivation uses PBKDF2 with 700,000 iterations. Data is encrypted using AES 256-bit encryption.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">6. Third-Party Services</h2>

<p class="indent">If the user enables the Google Drive integration, we may integrate with third-party services for user convenience, such as Google Drive. Please review the privacy policies of these services, as we have no control over their data handling practices.</p><br>
<p class="indent">
    If the user enables the favicon preview, your browser will use the DuckDuckGo API to retrieve the favicon of the website. Please review the privacy policies of DuckDuckGo, as we have no control over their data handling practices. Zero-TOTP does not store any data related to the favicon preview, and the DuckDuckGo API is only used to retrieve the favicon of the website. The only data sent to DuckDuckGo is the URL of the website by your browser. Zero-TOTP does not access or store without encryption this data.
</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">7. Cookies</h2>

<p>We only use authentication cookies for session management. No tracking cookies are used.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">8. Your Rights</h2>

<p>You have the following rights:</p><br/>

<ul>
    <li><span class="has-text-weight-bold">Access:</span>  To request access to your personal information.</li>

        <li><span class="has-text-weight-bold">Rectification:</span> To request the correction of inaccurate or incomplete data.</li>

            <li><span class="has-text-weight-bold">Erasure:</span> To request the deletion of your account and data.</li>

                <li><span class="has-text-weight-bold">Data Portability:</span>  To receive your data in a structured, machine-readable format.</li>

                    <li><span class="has-text-weight-bold">Objection: </span> To object to the processing of your data for specific purposes.</li>
</ul><br>
<p>Please contact us at developer[at]zero-totp.com to exercise these rights.</p>

<h2 class="is-size-4 has-text-weight-bold mt-6 ">9. Changes to this Privacy Policy</h2>

<p class="indent">We may update this Privacy Policy to reflect changes in our practices or legal requirements. We will notify you of any significant changes via email or through our website.</p>
<h2 class="is-size-4 has-text-weight-bold mt-6 ">11. Disclaimer of Liability</h2>

<p class="indent">While we take every reasonable measure to ensure the security and confidentiality of your data, we cannot guarantee absolute protection against all potential risks. We disclaim any responsibility for the loss, breach, or unauthorized access to your information. By using Zero-TOTP, you acknowledge and accept that the security of your data is dependent on factors beyond our control.</p><br/>

<p class="indent">We only provide assurance regarding the robust encryption algorithms and security measures we employ to safeguard your data during storage and transmission. However, the internet and technology environments are inherently dynamic, and no system can be entirely free from vulnerabilities.</p><br/>

<p class="indent">You agree that your use of Zero-TOTP is at your own risk, and we shall not be held liable for any consequences resulting from data loss or breaches.</p><br/>


<h2 class="is-size-4 has-text-weight-bold mt-6 ">11. Open Source and GPL 3 License</h2>

<p class="indent">Zero-TOTP is an open-source application distributed under the GNU General Public License version 3 (GPL 3). This means that our source code is publicly available, and you have the freedom to view, modify, and distribute the software in compliance with the terms of the GPL 3 license.</p><br/>

<p class="indent">By choosing to use Zero-TOTP, you acknowledge and agree to comply with the provisions of the GPL 3 license. You can access the complete source code of our application on <a href="https://github.com/SeaweedbrainCY/zero-totp" >https://github.com/SeaweedbrainCY/zero-totp</a>.</p><br/>

    <p class="indent">Please note that while the source code is open and freely available, the use of Zero-TOTP as a service provided by us is subject to the terms outlined in this Privacy Policy.</p>


<h2 class="is-size-4 has-text-weight-bold mt-6 ">12. Contact Us</h2>

<p>If you have any questions or concerns about this Privacy Policy or your data, please contact us at developer[at]zero-totp.com.</p>
</section>