<section class="hero is-halfheight mt-6 pb-6 " style="min-height: 70vh;">
  <div class="container is-fluid ">
    <div>
      <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info pt-6" style="line-height: normal;">{{
        'account.title' | translate }}
      </h1>
      <div class="is-flex is-justify-content-center">
        @if (notification_message() != undefined) {
        <div class="notification is-link is-light  m-4 is-flex is-justify-content-space-between"
          style="max-width: 70vw;">
          <div class="is-flex is-justify-content-center is-flex-direction-column">
            <div class="is-flex">
              <div class="is-flex is-justify-content-center is-flex-direction-column mr">
                <fa-icon [icon]="faLightbulb" class="mr-4"></fa-icon>
              </div>
              <strong>{{notification_message()}}</strong>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="is-flex columns is-centered mt-4">
        <div class="column  is-four-fifths-desktop">
          <div class="form-container">
            <h1 class="has-text-info has-text-weight-bold is-size-3">
              {{ 'account.manage_vault.title' | translate }}
            </h1>
            <div style="border-bottom: 1px solid silver"></div>
            <div class="buttons mt-4">
              <button class="button is-link is-outlined" [routerLink]="['/import/vault']"> {{
                'account.manage_vault.import' | translate }}</button>
            </div>
          </div>
          <div class="form-container mt-6">
            <h1 class="has-text-info has-text-weight-bold is-size-3">
              {{ 'account.username.title' | translate }}
            </h1>
            <div style="border-bottom: 1px solid silver"></div>
            <p class="has-text-grey pb-3">{{ 'account.username.current' | translate }} <span [ngClass]="{'is-skeleton': loadingAccount()}">{{current_username()}}</span> 
            </p>
            <label class="label">{{ 'account.username.new.label' | translate }}</label>
            <div class="field is-flex-tablet mb-3">
              <div class="control has-icons-left ">
                <input class="input" type="text" placeholder="{{ 'username' | translate }}" name="username"
                  [(ngModel)]="username" [ngClass]="{'is-danger' : usernameErrorMessage() != ''}">
                @if (usernameErrorMessage() != '') {
                <span class="help has-text-left is-danger">{{usernameErrorMessage() | translate}}</span>
                }
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
              <div class="has-text-centered">
                <button class="button is-info is-outlined is-centered ml-3" (click)="updateUsername()"
                  [ngClass]="{'is-loading': this.buttonLoading.username()}">{{"update" |
                  translate}}</button>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <h1 class="has-text-info has-text-weight-bold is-size-3">
              {{ 'account.email.title' | translate }}
            </h1>
            <div style="border-bottom: 1px solid silver"></div>
            <p class="has-text-grey pb-3">{{ 'account.email.current' | translate }} : <span [ngClass]="{'is-skeleton': loadingAccount()}">{{current_email()}}</span></p>
            <label class="label">{{ 'account.email.update.label' | translate }}</label>
            <div class="field is-flex-tablet">
              <div class="control has-icons-left">
                <input class="input" type="email" placeholder="{{'email' | translate}}" name="email" [(ngModel)]="email"
                  (keyup)="checkEmail()"
                  [ngClass]="{'is-danger' : emailErrorMessage() != '' || emailConfirmErrorMessage() != ''}">
                @if (emailErrorMessage() != '') {
                <span class="help has-text-left is-danger">{{emailErrorMessage() | translate}}</span>
                }
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field is-flex-tablet">
              <div class="control has-icons-left mb-3">
                <input class="input" type="email" placeholder="{{ 'account.email.update.confirm' | translate }}"
                  name="confirmEmail" [(ngModel)]="confirmEmail" (keyup)="checkEmail()"
                  [ngClass]="{'is-danger' : emailConfirmErrorMessage() != ''}">
                @if (emailConfirmErrorMessage() != '') {
                <span class="help has-text-left is-danger">{{emailConfirmErrorMessage() |
                  translate}}</span>
                }
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
              <div class="has-text-centered">
                <button class="button is-info is-outlined ml-3" (click)="updateEmail()"
                  [ngClass]="{'is-loading': this.buttonLoading.email()}">{{"update" |
                  translate}}</button>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <h1 class="has-text-info has-text-weight-bold is-size-3">
              {{ 'account.passphrase.title' | translate }}
            </h1>
            <div style="border-bottom: 1px solid silver"></div>
            <label class="label mt-3">{{ 'account.passphrase.current' | translate }}</label>
            <div class="field is-flex-tablet has-addons">
              <div class="control has-icons-left ">
                <input class="input" type="{{isPassphraseVisible() ? 'text' : 'password'}}"
                  placeholder="{{'passphrase' | translate}}" name="password" [(ngModel)]="password">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
              <p class="control">
                <a class="button" (click)="isPassphraseVisible.update(current => !current) ">
                  @if (isPassphraseVisible()) {
                  <fa-icon [icon]="faEyeSlash" size="sm"></fa-icon>
                  }@if (!isPassphraseVisible()) {
                  <fa-icon [icon]="faEye" size="sm"></fa-icon>
                  }
                </a>
              </p>
            </div>
            <label class="label mt-3">{{ 'account.passphrase.new' | translate }}</label>
            <div class="field is-flex-tablet has-addons">
              <div class="control has-icons-left">
                <input class="input" type="{{isNewPassphraseVisible() ? 'text' : 'password'}}"
                  placeholder="{{ 'account.passphrase.new' | translate }}" name="newPassword" [(ngModel)]="newPassword"
                  (keyup)="checkNewPassword()"
                  [ngClass]="{'is-danger' : newPasswordErrorMessage().length >1 || newPasswordConfirmErrorMessage().length >1 }">
                @if (newPasswordErrorMessage().length >1) {
                <span class="help has-text-left is-danger">
                  @for (error of newPasswordErrorMessage(); track error) {
                  <span>
                    @if (error!='') {
                    <span>{{error | translate}}<br></span>
                    }
                  </span>
                  }
                </span>
                }
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
              <p class="control">
                <a class="button" (click)="isNewPassphraseVisible.update(current => !current)">
                  @if (isNewPassphraseVisible()) {
                  <fa-icon [icon]="faEyeSlash" size="sm"></fa-icon>
                  }@if (!isNewPassphraseVisible()) {
                  <fa-icon [icon]="faEye" size="sm"></fa-icon>
                  }
                </a>
              </p>
            </div>
            <div class="field is-flex-tablet has-addons">
              <div class="control has-icons-left mb-3">
                <input class="input" type="{{isNewConfirmPassphraseVisible() ? 'text' : 'password'}}"
                  placeholder="{{ 'account.passphrase.confirm' | translate }}" name="confirmNewPassword"
                  [(ngModel)]="confirmNewPassword"
                  [ngClass]="{'is-danger' : newPasswordConfirmErrorMessage().length >1}" (keyup)="checkNewPassword()">
                @if (newPasswordConfirmErrorMessage().length >1) {
                <span class="help has-text-left is-danger">
                  @for (error of newPasswordConfirmErrorMessage(); track error) {
                  <span>
                    @if (error!='') {
                    <span>{{error | translate}}<br></span>
                    }
                  </span>
                  }
                </span>
                }
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
              <p class="control">
                <a class="button" (click)="isNewConfirmPassphraseVisible.update(current => !current)">
                  @if (isNewConfirmPassphraseVisible()) {
                  <fa-icon [icon]="faEyeSlash" size="sm"></fa-icon>
                  }@if (!isNewConfirmPassphraseVisible()) {
                  <fa-icon [icon]="faEye" size="sm"></fa-icon>
                  }
                </a>
              </p>
              <div class="has-text-centered">
                <button class="button is-info is-outlined ml-3" (click)="updatePassphrase()">{{"update"
                  | translate}}</button>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <h1 class="has-text-danger has-text-weight-bold is-size-3">
              {{ 'account.delete.title' | translate }}
            </h1>
            <div style="border-bottom: 1px solid silver"></div>
            <p class="has-text-grey pb-3">{{ 'account.delete.warning' | translate }}</p>
            <div class="control">
              <button class="button is-danger is-outlined" (click)="deletionModal()" data-target="confirmation">{{
                'account.delete.button' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="confirmation" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isDeletionModalActive()}">
  <div class="modal-background" (click)="deletionModal()"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-1 has-text-danger has-text-weight-bold">{{ 'account.delete.popup.title' | translate }}
      </h1>
      <strong>{{ 'account.delete.popup.warn1' | translate }}</strong>.<br><br>
      <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"
          style="color:red;" size="2xl"></fa-icon> {{ 'account.delete.popup.warn2' |
        translate }}</strong><br><br>
      <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"
          style="color:red;" size="2xl"></fa-icon> {{ 'account.delete.popup.warn3' |
        translate }}</strong><br><br>
      <strong>{{ 'account.delete.popup.confirm' | translate }}</strong>
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" type="password" placeholder="Passphrase" name="password" [(ngModel)]="password">
          @if (deletionErrorMessage() != '') {
          <span class="help has-text-left is-danger">{{deletionErrorMessage()
            | translate }}</span>
          }
          <span class="icon is-small is-left">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-right">
      <button class="button is-success mr-1" (click)="deletionModal()" [disabled]="buttonLoading.deletion()">{{
        'account.delete.popup.button.return' | translate }}</button>
      <button class="button is-danger ml-1" (click)="deleteAccount()"
        [ngClass]="{'is-loading': buttonLoading.deletion()}" [disabled]="deleteAccountConfirmationCountdown() >0">{{
        'account.delete.popup.button.destroy' | translate
        }}@if (deleteAccountConfirmationCountdown() >0) {
        <span> ({{deleteAccountConfirmationCountdown()}}
          s)</span>
        }</button>

    </footer>
  </div>
  @if (!buttonLoading.deletion()) {
  <button class="modal-close is-large" aria-label="close" (click)="deletionModal()"></button>
  }
</div>


<div id="passphraseConfirmation" class="modal modal-fx-fadeInScale"
  [ngClass]="{'is-active': isPassphraseModalActive()}">
  <div class="modal-background" (click)="passphraseModal()"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-1 has-text-info">{{ 'account.passphrase.popup.warning.title' | translate }} </h1>
      <div class="content">
        <strong>{{ 'account.passphrase.popup.warning.subtitle' | translate }}</strong>
        <ul>
          <li>{{ 'account.passphrase.popup.warning.warn1' | translate }}</li>
          <li>{{ 'account.passphrase.popup.warning.warn2' | translate }}</li>
          <li>{{ 'account.passphrase.popup.warning.warn3' | translate }}</li>
          <li>{{ 'account.passphrase.popup.warning.warn4' | translate }}</li>
          <li>{{ 'account.passphrase.popup.warning.warn5' | translate }} </li>
        </ul>
      </div>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-right">
      <button class="button" (click)="passphraseModal()" [disabled]="buttonLoading.passphrase()">{{"cancel" |
        translate}}</button>
      <button class="button is-info ml-2" (click)="updatePassphraseConfirm()"
        [ngClass]="{'is-loading': buttonLoading.passphrase()}">{{ 'account.passphrase.popup.warning.continue' |
        translate }}</button>
    </footer>
  </div>
  @if (!buttonLoading.passphrase()) {
  <button class="modal-close is-large" aria-label="close" (click)="passphraseModal()"></button>
  }
</div>
<div id="passphraseUpdate" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': buttonLoading.passphrase()}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-1 has-text-danger">{{ 'account.passphrase.popup.updating.title' | translate }}</h1>
      <strong>{{ 'account.passphrase.popup.updating.subititle' | translate }}</strong> <br><br>
      <progress class="progress is-small is-success" max="100"></progress>
      <p class="">
        @if (stepsDone().includes('verifyOldPassword')) {
        <fa-icon [icon]="faCheck" class="has-text-success" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('verifyOldPassword')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('verifyOldPassword')}"> {{
          'account.passphrase.popup.updating.verif' | translate }}</span><br>

        @if (stepsDone().includes('getVault')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('getVault')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('getVault')}"> {{
          'account.passphrase.popup.updating.download' | translate }}</span><br>

        @if (stepsDone().includes('getVault')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('getVault')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('getVault')}"> {{
          'account.passphrase.popup.updating.descryption' | translate }}</span><br>

        @if (stepsDone().includes('derivation')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('derivation')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('derivation')}"> {{
          'account.passphrase.popup.updating.derivation' | translate }}</span><br>

        @if (stepsDone().includes('encryption')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('encryption')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('encryption')}"> {{
          'account.passphrase.popup.updating.encryption' | translate }}</span><br>

        @if (stepsDone().includes('verification')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('verification')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('verification')}"> {{
          'account.passphrase.popup.updating.verif_new' | translate }}</span><br>

        @if (stepsDone().includes('upload')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('upload')) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        <span [ngClass]="{'has-text-success': stepsDone().includes('upload')}"> {{
          'account.passphrase.popup.updating.upload' | translate }}</span><br>

        @if (stepsDone().includes('deleteBackup')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('deleteBackup') && deleteGoogleDriveBackup()) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        @if (deleteGoogleDriveBackup()) {
        <span [ngClass]="{'has-text-success': stepsDone().includes('deleteBackup')}"> {{
          'account.passphrase.popup.updating.destroy' | translate
          }}</span>
        }@if (deleteGoogleDriveBackup()) {
        <br>
        }


        @if (stepsDone().includes('backup')) {
        <fa-icon [icon]="faCheck" class="has-text-success"></fa-icon>
        }
        @if (!stepsDone().includes('backup') && (isGoogleDriveBackupEnabled())) {
        <fa-icon [icon]="faCog" [animation]="true ? 'spin' : undefined"></fa-icon>
        }
        @if (isGoogleDriveBackupEnabled()) {
        <span [ngClass]="{'has-text-success': stepsDone().includes('backup')}">
          {{ "account.passphrase.popup.updating.upload_google" | translate}}
        </span>
        }<br>
      </p>

    </section>
  </div>
</div>


<div id="passphraseConfirmation" class="modal modal-fx-fadeInScale"
  [ngClass]="{'is-active': googleDriveBackupModaleActive()}">
  <div class="modal-background" (click)="passphraseModal()"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-3 has-text-info mb-4 has-text-weight-bold">{{ 'account.passphrase.popup.google.title' |
        translate }}</h1>
      <div class="content">
        <div class="box is-flex" style="cursor: pointer;" (click)="deleteGoogleDriveBackup.set(true);"
          [ngClass]='{"has-background-danger-light	":deleteGoogleDriveBackup()}'>
          <div class="is-flex is-flex-direction-column is-justify-content-center mr-4">
            @if (deleteGoogleDriveBackup()) {
            <fa-icon [icon]="faTrash" style="color:red;"></fa-icon>
            }
            @if (!deleteGoogleDriveBackup()) {
            <fa-icon [icon]="faTrash"></fa-icon>
            }
          </div>
          <div>
            <strong for="deleteGoogleDriveBackup" [ngClass]="{'has-text-danger':deleteGoogleDriveBackup()}">{{
              'account.passphrase.popup.google.option.delete.strong' | translate }}</strong> <span
              class="has-text-danger"> {{ 'account.passphrase.popup.google.option.delete.info' | translate
              }}</span>
          </div>
        </div>
        <div class="box is-flex" style="cursor: pointer;" (click)="deleteGoogleDriveBackup.set(false);"
          [ngClass]='{"has-background-success-light":deleteGoogleDriveBackup() == false }'>
          <div class="is-flex is-flex-direction-column is-justify-content-center mr-4">
            @if (deleteGoogleDriveBackup() == false) {
            <fa-icon [icon]="faVault" style="color:green;"></fa-icon>
            }
            @if (deleteGoogleDriveBackup() != false) {
            <fa-icon [icon]="faVault"></fa-icon>
            }
          </div>
          <div>
            <strong for="deleteGoogleDriveBackup" [ngClass]="{'has-text-success':deleteGoogleDriveBackup() == false}">{{
              'account.passphrase.popup.google.option.keep.strong' | translate }}</strong>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-right">
      <button class="button"
        (click)="googleDriveBackupModaleActive.set(false); isPassphraseModalActive.set(false); isDeletionModalActive.set(false); deleteGoogleDriveBackup.set(undefined)">{{
        'abort' | translate }}</button>
      <button class="button is-info ml-2" (click)=" googleDriveBackupModaleActive.set(false); updatePassphraseConfirm()"
        [disabled]="deleteGoogleDriveBackup() == undefined">{{ 'continue' | translate }}</button>
    </footer>
  </div>