<section class="hero is-fullheight mt-6 ">
    <div class="container is-fluid ">
        <div>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info pt-6"
                style="line-height: normal;">Edit your account ⚙️
            </h1>


            <div class="is-flex columns is-centered mt-4">
                <div class="column  is-four-fifths-desktop">

                    <div class="form-container">
                        <h1 class="has-text-info has-text-weight-bold is-size-3">
                            Change username
                        </h1>
                        <div style="border-bottom: 1px solid silver"></div>
                        <p class="has-text-grey pb-3">Your current username is:</p>
                        <label class="label">New username</label>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left mb-3">
                                <input class="input" type="text" placeholder="Username" name="username" [(ngModel)]="username" (change)="checkUsername()" [ngClass]="{'is-danger' : usernameErrorMessage != ''}">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </span>
                            </div>
                            <div class="has-text-centered">
                                <button class="button is-info is-outlined is-centered ml-3">Change</button>
                            </div>
                        </div>
                    </div>



                    <div class="mt-6">
                        <h1 class="has-text-info has-text-weight-bold is-size-3">
                            Change email
                        </h1>
                        <div style="border-bottom: 1px solid silver"></div>
                        <p class="has-text-grey pb-3">Your current email is:</p>
                        <label class="label">New email</label>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Email" name="email" [(ngModel)]="email" (change)="checkEmail()" [ngClass]="{'is-danger' : emailErrorMessage != '' || emailConfirmErrorMessage != ''}">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left mb-3">
                                <input class="input" type="email" placeholder="Confirm email" name="confirmEmail" [(ngModel)]="confirmEmail" (change)="checkEmail()" [ngClass]="{'is-danger' : emailConfirmErrorMessage != ''}">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                                </span>
                            </div>
                            <div class="has-text-centered">
                                <button class="button is-info is-outlined ml-3">Change</button>
                            </div>
                        </div>
                    </div>



                    <div class="mt-6">
                        <h1 class="has-text-info has-text-weight-bold is-size-3">
                            Change passphrase
                        </h1>
                        <div style="border-bottom: 1px solid silver"></div>
                        <label class="label mt-3">Your current passphrase</label>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left">
                                <input class="input" type="password" placeholder="Passphrase" name="password">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faLock"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <label class="label mt-3">New passphrase</label>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left">
                                <input class="input" type="password" placeholder="New passphrase" name="newPassword" [(ngModel)]="newPassword"(change)="checkNewPassword()" [ngClass]="{'is-danger' : newPasswordErrorMessage.length >1 || newPasswordConfirmErrorMessage.length >1 }">
                                <span class="help has-text-left is-danger" *ngIf="newPasswordErrorMessage.length >1">
                                    <span *ngFor="let error of newPasswordErrorMessage" >
                                        <span *ngIf="error!=''">{{error}}<br></span>
                                    </span>
                                </span>
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faLock"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field is-flex-tablet">
                            <div class="control has-icons-left mb-3">
                                <input class="input" type="password" placeholder="Confirm Passphrase" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" [ngClass]="{'is-danger' : newPasswordConfirmErrorMessage.length >1}" (change)="checkNewPassword()">
                                <span class="help has-text-left is-danger" *ngIf="newPasswordConfirmErrorMessage.length >1">
                                    <span *ngFor="let error of newPasswordConfirmErrorMessage" >
                                        <span *ngIf="error!=''">{{error}}<br></span>
                                    </span>
                                </span>
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faLock"></fa-icon>
                                </span>
                            </div>
                            <div class="has-text-centered">
                                <button class="button is-info is-outlined ml-3">Change</button>
                            </div>
                        </div>
                    </div>



                    <div class="mt-6">
                        <h1 class="has-text-danger has-text-weight-bold is-size-3">
                            Delete account
                        </h1>
                        <div style="border-bottom: 1px solid silver"></div>
                        <p class="has-text-grey pb-3">Once you delete your account, there is no going
                            back. Please be certain.</p>
                        <div class="control">
                            <button class="button is-danger is-outlined" (click)="modal()"
                                data-target="confirmation">Delete
                                your account</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<div id="confirmation" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isModalActive}">
    <div class="modal-background" (click)="modal()"></div>
    <div class="modal-content">
        <section class="modal-card-body">
            <h1 class="is-size-1 has-text-danger">Are you sure ?</h1>
            <strong>You won't be able to undo this action. You will no longer access to your TOTP vault</strong>.<br><br>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-right">
            <button class="button" (click)="modal()" [disabled]="isDestroying">Cancel</button>
            <button class="button is-danger" (click)="deleteAccount()" [ngClass]="{'is-loading': isDestroying}">Destroy my account definitely</button>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="modal()" *ngIf="!isDestroying"></button>
</div>