<section class="hero is-halfheight is-fullheight pb-6" style="min-height: 80vh;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered" style="display: flex;">
        <div class="column is-5-desktop is-10-mobile">
          @if (warning_message() != '') {
          <div class="notification {{warning_message_color()}} is-light has-text-centered mb-5">
            <strong class="block">{{warning_message() | translate}}</strong>
          </div>
          }

          <div class="box has-text-centered">
            <figure class="image is-inline-block m-4" style="width:50%">
              @if(displayPreferences.theme() == 'light'){
              <img src="assets/logo_zero_totp_dark.png" alt="Zero-TOTP">
              }
              @if(displayPreferences.theme() == 'dark'){
              <img src="assets/logo_zero_totp_light.png" alt="Zero-TOTP">
              }
            </figure>


            @if (!is_oauth_flow()) {
            <p class="is-1 title mb-6 b-6">
              {{ 'login.title' | translate }}
            </p>
            <div class="field block">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-rounded " type="email" placeholder="{{'email' | translate}}" name="email"
                  [ngModel]="email()" (ngModelChange)="email.set($event)" />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                <span class="icon is-small is-right">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
              </p>
            </div>
            }
            <div class="field is-full is-flex is-justify-content-center has-addons">
              <p class="control has-icons-left has-icons-right is-expanded">
                <input class="input is-rounded  block" type="{{isPassphraseVisible() ? 'text' : 'password'}}"
                  placeholder="{{'passphrase' | translate}}" name="password" [ngModel]="password()"
                  (ngModelChange)="password.set($event)" (keyup.enter)="login()">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faKey"></fa-icon>
                </span>
              </p>
              <div class="control">
                <a class="button is-rounded " (click)="isPassphraseVisible.update(v => !v)">
                  @if (isPassphraseVisible()) {
                  <fa-icon [icon]="faEyeSlash" size="sm"></fa-icon>
                  }@if (!isPassphraseVisible()) {
                  <fa-icon [icon]="faEye" size="sm"></fa-icon>
                  }
                </a>
              </div>
            </div>
            @if (!is_oauth_flow()) {
            <div class="control has-text-left mt-3 mb-4">
              <label class="checkbox">
                <input type="checkbox" name="remember" [ngModel]="remember()" (ngModelChange)="remember.set($event)">
                {{ 'login.remember' | translate }}
              </label>
            </div>
            }

            <div class="field mt-5">
              <div class="control">
                <button class="button is-info is-rounded is-fullwidth" (click)="login()"
                  [ngClass]="{'is-loading': isLoading()}" [disabled]="isLoading()">{{login_button() | translate }}
                </button>
              </div>
            </div>

            @if (!is_oauth_flow()) {
            <div class="is-flex is-justify-content-center is-align-items-center mt-5 is-flex-wrap-wrap"
              style="gap: 0.75rem;">
              <button class="button is-small is-rounded is-outlined is-light" (click)="vault_modal_active.set(true)">
                <fa-icon [icon]="faCloudArrowUp" class="mr-2"></fa-icon>
                {{ 'login.backup.open_button' | translate }}
              </button>
              <a class="button is-small is-rounded is-outlined is-danger" href="https://rescue.zero-totp.com">
                <fa-icon [icon]="faBriefcaseMedical" class="mr-2"></fa-icon>
                {{ 'login.rescue.strong' | translate }}
              </a>
            </div>
            }
          </div>

          @if (!is_oauth_flow()) {
          <div class="has-text-centered mt-4 is-flex is-justify-content-center is-align-items-center is-flex-wrap-wrap">
            <span class="has-text-grey is-size-7"> {{'login.instance.you_are_using' | translate}} </span>
            <div class="is-flex is-justify-content-center is-align-items-center">
              <div class=""
                [ngClass]="{'dropdown': !environment.isMobileApp, 'is-active': instance_dropdown_active(), 'is-hoverable': !this.utils.isDeviceMobile()}">
                <div class="dropdown-trigger">
                  <button class="button is-ghost is-small pl-1" aria-haspopup="true" aria-controls="dropdown-menu"
                    (click)="zero_totp_instance_button_click()"> {{current_domain()}}
                    @if (current_domain() == 'zero-totp.com') {
                    <span class="tag is-success is-rounded has-text-white ml-2"
                      style="text-decoration: none !important;">{{'official' | translate}} </span>
                    }
                    @if (current_domain() != 'zero-totp.com') {
                    <span class="tag is-info is-rounded has-text-white ml-2"
                      style="text-decoration: none !important;">{{'self_hosted' | translate}}</span>
                    }
                    <fa-icon [icon]="faPen" class="ml-2"></fa-icon>
                  </button>
                </div>

                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;">
                      <strong>{{'login.instance.select.title' | translate}}</strong>
                    </p>
                    <hr class="dropdown-divider" />
                    <a href="https://zero-totp.com/login" class="dropdown-item has-text-centered"
                      [ngClass]="{'is-active': current_domain() == 'zero-totp.com'}"
                      style="padding-left: 16px; padding-right: 16px;">zero-totp.com <span
                        class="tag is-success is-rounded has-text-white ml-2"
                        style="text-decoration: none !important;">{{'official' | translate}}</span> </a>
                    @if (current_domain() != 'zero-totp.com') {
                    <a class="dropdown-item" style="padding-left: 16px; padding-right: 16px;"
                      [ngClass]="{'is-active': current_domain() != 'zero-totp.com'}"
                      (click)="instance_dropdown_active.set(false)"> {{current_domain()}}<span
                        class="tag is-white is-rounded has-text-black ml-2"
                        style="text-decoration: none !important;">{{'self_hosted' | translate}}</span> </a>
                    }
                    <hr class="dropdown-divider" />
                    <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;">
                      <strong>{{'login.instance.select.why.title' | translate}} </strong><br>
                      {{'login.instance.select.why.p1' | translate}}
                      <br>
                      <strong>{{'login.instance.select.why.p2' | translate}}</strong>
                    </p>
                  </div>
                </div>
              </div>

              <div class="dropdown is-hoverable is-flex is-justify-content-center is-align-items-center">
                <div class="dropdown-trigger">
                  <a aria-haspopup="true" aria-controls="dropdown-menu4">
                    <fa-icon [icon]="faCircleQuestion" class="has-text-grey"></fa-icon>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p class="has-text-left"><strong>{{'login.instance.select.why.title' | translate}}</strong><br>
                        {{'login.instance.select.why.p1' | translate}}<br>
                        <strong>{{'login.instance.select.why.p2' | translate}}</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }

        </div>
      </div>
    </div>
  </div>
</section>

@if (!is_oauth_flow()) {
<div class="modal" [ngClass]="{'is-active': vault_modal_active()}">
  <div class="modal-background" (click)="vault_modal_active.set(false)"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ 'login.backup.open_button' | translate }}</p>
      <button class="delete" aria-label="close" (click)="vault_modal_active.set(false)"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p class="has-text-grey mb-5">{{ 'login.backup.subtitle' | translate }}</p>
      <div class="file is-boxed is-centered">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" accept=".zero-totp, .txt" (change)="openFile($event)">
          <span class="file-cta">
            <span class="file-icon">
              @if (!loading_file()) {
              <fa-icon [icon]="faCloudArrowUp"></fa-icon>
              }
              @if (loading_file()) {
              <fa-icon [icon]="faCircleNotch" [animation]="true ? 'spin' : undefined"></fa-icon>
              }
            </span>
            @if (!loading_file()) {
            <span class="file-label">
              {{ 'login.backup.vault_backup' | translate }}
            </span>
            }
          </span>
        </label>
      </div>
    </section>
  </div>
</div>
}

<div id="confirmation" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isUnsecureVaultModaleActive()}">
  <div class="modal-background" (click)="isUnsecureVaultModaleActive.update(v => !v)"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-2 has-text-danger">{{ 'login.backup.unsecure.popup.title' | translate }}</h1>
      <strong>{{ 'login.backup.unsecure.popup.strong' | translate }}</strong>. {{ 'login.backup.unsecure.popup.desc' |
      translate }}<br>
      <strong>{{ 'login.backup.unsecure.popup.strong2' | translate }}</strong>
      <br><br>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-right">
      <button class="button is-success mr-2" (click)="isUnsecureVaultModaleActive.update(v => !v)">{{
        'login.backup.unsecure.popup.button.cancel' | translate }}</button>
      <button class="button is-danger ml-2"
        (click)="local_vault_service!.set_is_signature_valid(true); isUnsecureVaultModaleActive.update(v => !v); isPassphraseModalActive.set(true);">{{
        'login.backup.unsecure.popup.continue' | translate }}</button>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close"
    (click)="isUnsecureVaultModaleActive.update(v => !v)"></button>
</div>


<div id="local_vault_passphrase" class="modal modal-fx-fadeInScale"
  [ngClass]="{'is-active': isPassphraseModalActive()}">
  <div class="modal-background" (click)="isPassphraseModalActive.update(v => !v)"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <h1 class="is-size-2 has-text-info">{{ 'login.backup.open.popup.title' | translate }}</h1>
      <div class="field is-flex-tablet has-addons  mt-3">
        <div class="control has-icons-left" style="width:90%">
          <input class="input" type="{{isLocalVaultPassphraseVisible() ? 'text' : 'password'}}"
            placeholder="{{'passphrase' | translate}}" name="password" [ngModel]="password()"
            (ngModelChange)="password.set($event)" (keyup.enter)="openLocalVault()">
          <span class="icon is-small is-left">
            <fa-icon [icon]="faKey"></fa-icon>
          </span>
        </div>
        <p class="control">
          <a class="button" (click)="isLocalVaultPassphraseVisible.update(v => !v)">
            @if (isLocalVaultPassphraseVisible()) {
            <fa-icon [icon]="faEyeSlash" size="sm"></fa-icon>
            }@if (!isLocalVaultPassphraseVisible()) {
            <fa-icon [icon]="faEye" size="sm"></fa-icon>
            }
          </a>
        </p>
      </div>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-right">
      <button class="button" (click)="isPassphraseModalActive.update(v => !v)">{{'cancel' |
        translate}}</button>
      <button class="button is-info"
        (click)="local_vault_service!.set_is_signature_valid(true); isPassphraseModalActive.update(v => !isUnsecureVaultModaleActive()); openLocalVault();">{{
        'unlock' | translate }}</button>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="isPassphraseModalActive.update(v => !v)"></button>
</div>
<div class="modal" [ngClass]="{'is-active': instance_modal_active()}">
  <div class="modal-background" (click)="this.instance_modal_active.set(false);"></div>
  <div class="modal-card" style="width: 100%; margin: 0; position: absolute; bottom: 0; border-radius: 16px 16px 0 0;">

    <header class="modal-card-head" style="border-radius: 16px 16px 0 0;">
      <div style="display: flex; align-items: center; gap: 10px; flex: 1;">
        <span class="icon is-medium has-text-info">
          <fa-icon [icon]="faShieldHalved"></fa-icon>
        </span>
        <div>
          <p class="modal-card-title">{{'login.instance.select.title' | translate}}</p>
          <p class="is-size-7 has-text-grey">{{'login.instance.select.subtitle' | translate}}</p>
        </div>
      </div>
      <button class="delete" aria-label="close" (click)="this.instance_modal_active.set(false);"> </button>
    </header>

    <section class="modal-card-body">

      <div class="field mb-5">
        <label class="label">
          <span class="icon-text has-text-grey">
            <span class="icon"> <fa-icon [icon]="faGlobe"></fa-icon></span>
            <span>{{'login.instance.url.label' | translate}}</span>
          </span>
        </label>
        <div class="control has-icons-left">
          <input name="instance_modal_apiBaseURL_input" [ngModel]="instance_modal_apiBaseURL_input()"
            class="input is-medium" type="url" placeholder="https://zero-totp.com"
            (ngModelChange)="instance_modal_apiBaseURL_input.set($event)"
            [ngClass]="{'shake':instance_modal_error() != ''}">
          <span class="icon is-medium is-left has-text-grey">
            <fa-icon [icon]="faLink"></fa-icon>
          </span>
        </div>
        <p class="help">{{'login.instance.url.hint' | translate}}</p>
        @if (instance_modal_error() != ""){
        <p class="help has-text-danger">{{instance_modal_error()}}</p>
        }
      </div>

      <article class="message is-info">
        <div class="message-body">
          <p class="has-text-left">
            <strong>
              <span class="icon-text">
                <span class="icon">
                  <fa-icon [icon]="faCircleInfo"></fa-icon>
                </span>
                <span>{{'login.instance.select.why.title' | translate}}</span>

              </span>
            </strong><br>
            {{'login.instance.select.why.p1' | translate}}<br>
            <strong>{{'login.instance.select.why.p2' | translate}}</strong>
          </p>
        </div>
      </article>

    </section>

    <footer class="modal-card-foot" style="flex-direction: column; gap: 10px;">
      <button class="button is-info is-medium is-fullwidth" (click)="validateNewAPIBaseURL()"
        [ngClass]="{'is-loading': instance_modal_loading()}">
        <span class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></span>
        <span>{{'login.instance.confirm' | translate}}</span>
      </button>
      <button class="button is-medium is-fullwidth" (click)="this.instance_modal_active.set(false);">
        {{'cancel' | translate}}
      </button>
    </footer>

  </div>
</div>