<section class="hero is-halfheight mt-6 pb-6" style="min-height: 70vh;">
    <div class="hero-body is-flex is-flex-direction-column	is-fullheight">
      <div class="has-text-centered	is-full is-flex is-justify-content-center block" *ngIf="!is_oauth_flow">
        <p class="block"><span class="title is-1 is-full has-text-centered has-text-info has-text-weight-bold">
            {{ 'login.title' | translate }}</span><br />
  
          <span class="has-text-weight-bold has-text-grey">{{ 'login.subtitle' | translate }}</span>
  
        </p>
      </div>
      <div class="has-text-centered columns p-5" *ngIf="warning_message != ''">
        <div class="notification {{warning_message_color}} column is-6 is-offset-3 ">
          <strong class="block">{{warning_message | translate}}</strong>
        </div>
      </div>
      <div class="has-text-centered	is-full ">
        <div class="field block"  *ngIf="!is_oauth_flow">
          <p class="control has-icons-left has-icons-right">
             <input class="input " type="email" placeholder="{{'email' | translate}}" name="email" [(ngModel)]="email"/>
            <span class="icon is-small is-left">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon [icon]="faCheck"></fa-icon>
            </span>
          </p>
         
        </div>
        <div class="field is-full is-flex is-justify-content-center has-addons">
          <p class="control has-icons-left has-icons-right">
         <input class="input block" type="{{isPassphraseVisible ? 'text' : 'password'}}" placeholder="{{'passphrase' | translate}}" name="password" [(ngModel)]="password" (keyup.enter)="login()">
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
            </span>
          </p>
          <div class="control" >
            <a class="button" (click)="isPassphraseVisible = !isPassphraseVisible">
              <fa-icon [icon]="faEyeSlash" *ngIf="isPassphraseVisible" size="sm" ></fa-icon><fa-icon [icon]="faEye" *ngIf="!isPassphraseVisible" size="sm"></fa-icon>
            </a>
            
          </div>
        </div>
        <div class="control has-text-left mb-4" style="margin-top: -20px;" *ngIf="!is_oauth_flow">
          <label class="checkbox">
            <input type="checkbox" name="remember" [(ngModel)]="remember">
            {{ 'login.remember' | translate }} 
          </label>
        </div>
        </div>
        <div class="has-text-centered mt-4 mb-4 is-flex is-justify-content-center is-align-items-center">
        <span> {{'login.instance.you_are_using' | translate}} </span>
        <div class="dropdown" [ngClass]="{'is-active': instance_dropdown_is_active}">
          <div class="dropdown-trigger">
             <button class="button is-ghost pl-1" aria-haspopup="true" aria-controls="dropdown-menu" (click)="instance_dropdown_is_active=!instance_dropdown_is_active"> {{current_domain}}
              <span class="tag is-success is-rounded  has-text-white ml-2" style="text-decoration: none !important;" *ngIf="current_domain == 'zero-totp.com'">{{'official' | translate}} </span> 
              <span class="tag is-info is-rounded  has-text-white ml-2" style="text-decoration: none !important;" *ngIf="current_domain != 'zero-totp.com'">{{'self_hosted' | translate}}</span> 
            </button>
            
          </div>
          <div class="dropdown-menu"  id="dropdown-menu" role="menu">
            <div class="dropdown-content ">
              <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;"><strong>{{'login.instance.select.title' | translate}}</strong>
              </p>
              <hr class="dropdown-divider" />
              <a href="https://zero-totp.com/login" class="dropdown-item has-text-centered" [ngClass]="{'is-active': current_domain == 'zero-totp.com'}" style="padding-left: 16px; padding-right: 16px;">zero-totp.com <span class="tag is-success is-rounded  has-text-white ml-2" style="text-decoration: none !important;">{{'official' | translate}}</span>  </a>
              <a class="dropdown-item" (click)="instance_dropdown_is_active=false" *ngIf="current_domain != 'zero-totp.com'" style="padding-left: 16px; padding-right: 16px;" [ngClass]="{'is-active': current_domain != 'zero-totp.com'}" > {{current_domain}}<span class="tag is-white is-rounded  has-text-black ml-2" style="text-decoration: none !important;" >{{'self_hosted' | translate}}</span>  </a>
              <hr class="dropdown-divider" />
              <p class="is-size-7" style="padding-left: 16px; padding-right: 16px;"><strong>{{'login.instance.select.why.title' | translate}} </strong><br>
                {{'login.instance.select.why.p1' | translate}}
                <br>
                <strong>{{'login.instance.select.why.p2' | translate}}</strong>
              </p>
            </div>
          </div>
        </div>
       
         <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <a  aria-haspopup="true" aria-controls="dropdown-menu4">
                <fa-icon
        [icon]="faCircleQuestion" class="has-text-grey"></fa-icon>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <p class="has-text-left"><strong>{{'login.instance.select.why.title' | translate}}</strong><br> {{'login.instance.select.why.p1' | translate}}<br>
                <strong>{{'login.instance.select.why.p2' | translate}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        

        </div>
        <div class="has-text-centered	block">
        
        <div class="field mt-5">
          <div class="control">
            <button class="button is-info is-medium block " (click)="login()" [ngClass]="{'is-loading': isLoading}" [disabled]="isLoading">{{login_button | translate }}
              </button>
          </div>
        </div>
      </div>
      <div *ngIf="!is_oauth_flow">
       <p class=" is-italic	">{{ 'login.rescue.part1' | translate }}<span class="has-text-danger has-text-weight-bold">{{ 'login.rescue.strong' | translate }}</span> {{ 'login.rescue.part2' | translate }} : </p>
       <p class="has-text-centered">
        <a class="button is-danger is-outlined block mt-2" href="https://rescue.zero-totp.com">  <fa-icon [icon]="faBriefcaseMedical" class="mr-2"></fa-icon> rescue.zero-totp.com</a>
       </p>
        
      </div>
    </div>
    <div class="is-flex is-justify-content-center" >
      <div class="m-6" style="border-top: 1px lightgray solid; width: 50vw;"></div>
    </div>
  
    <div class="is-flex is-flex-direction-column" *ngIf="!is_oauth_flow">
      <div class="is-flex is-justify-content-center has-text-centered">
        <p class="block"><span class="title is-1 is-full  has-text-info has-text-weight-bold" id="openVault">
          {{ 'login.backup.open_button' | translate }}</span><br />
  
        <span class="has-text-weight-bold has-text-grey">{{ 'login.backup.subtitle' | translate }}</span>
      </p>
      </div>
      <div class="is-flex is-justify-content-center">
        <div class="mt-6">
          <div class="file is-boxed">
            <label class="file-label">
              <input class="file-input" type="file" name="resume" accept=".zero-totp, .txt" (change)="openFile($event)" >
              <span class="file-cta">
                <span class="file-icon">
                  <fa-icon [icon]="faCloudArrowUp" *ngIf="!loading_file"></fa-icon>
                   <fa-icon [icon]="faCircleNotch" *ngIf="loading_file" [animation]="true ? 'spin' : undefined"></fa-icon >
                </span>
                <span class="file-label"  *ngIf="!loading_file">
                 {{ 'login.backup.vault_backup' | translate }}
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>

    </div>

    
  </section>

  <div id="confirmation" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isUnsecureVaultModaleActive}">
    <div class="modal-background" (click)="isUnsecureVaultModaleActive = !isUnsecureVaultModaleActive"></div>
    <div class="modal-content">
        <section class="modal-card-body">
            <h1 class="is-size-2 has-text-danger">{{ 'login.backup.unsecure.popup.title' | translate }}</h1>
            <strong>{{ 'login.backup.unsecure.popup.strong' | translate }}</strong>. {{ 'login.backup.unsecure.popup.desc' | translate }}<br>
            <strong>{{ 'login.backup.unsecure.popup.strong2' | translate }}</strong>
            <br><br>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-right">
            <button class="button is-success mr-2" (click)="isUnsecureVaultModaleActive = !isUnsecureVaultModaleActive">{{ 'login.backup.unsecure.popup.button.cancel' | translate }}</button>
            <button class="button is-danger ml-2" (click)="local_vault_service!.set_is_signature_valid(true); isUnsecureVaultModaleActive = !isUnsecureVaultModaleActive; this.isPassphraseModalActive = true;" >{{ 'login.backup.unsecure.popup.continue' | translate }}</button>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="isUnsecureVaultModaleActive = !isUnsecureVaultModaleActive" ></button>
</div>


<div id="local_vault_passphrase" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': isPassphraseModalActive}">
  <div class="modal-background" (click)="isPassphraseModalActive = !isPassphraseModalActive"></div>
  <div class="modal-content">
      <section class="modal-card-body">
          <h1 class="is-size-2 has-text-info">{{ 'login.backup.open.popup.title' | translate }}</h1>
          <div class="field is-flex-tablet has-addons  mt-3">
          <div class="control has-icons-left" style="width:90%">
            <input class="input" type="{{isLocalVaultPassphraseVisible ? 'text' : 'password'}}"   placeholder="{{'passphrase' | translate}}" name="password" [(ngModel)]="password" (keyup.enter)="openLocalVault()">
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
          </span>
          </div>
          <p class="control">
            <a class="button" (click)="isLocalVaultPassphraseVisible = !isLocalVaultPassphraseVisible">
              <fa-icon [icon]="faEyeSlash" *ngIf="isLocalVaultPassphraseVisible" size="sm" ></fa-icon><fa-icon [icon]="faEye" *ngIf="!isLocalVaultPassphraseVisible" size="sm"></fa-icon>
            </a>
          </p>
          </div>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-right">
          <button class="button" (click)="isPassphraseModalActive = !isPassphraseModalActive">{{'cancel' | translate}}</button>
          <button class="button is-info" (click)="local_vault_service!.set_is_signature_valid(true); isPassphraseModalActive = !isUnsecureVaultModaleActive; openLocalVault();" >{{ 'unlock' | translate }}</button>
      </footer>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="isPassphraseModalActive = !isPassphraseModalActive" ></button>
</div>