<section class="hero is-halfheight mt-6" style="min-height: 70vh;" *ngIf="isAdmin == undefined">
    <article class="hero-body is-flex is-justify-content-center" >
        <fa-icon [icon]="faCircleNotch" [spin]="true" style="color:#FE6847;" size="2xl"></fa-icon > 
    </article>
</section>



<section class="hero  is-halfheight mt-6 " style="min-height: 70vh;" *ngIf="isAdmin == true">
    <article class="hero-body "  *ngIf="!isChallengeSolved">
        <div class="is-flex is-justify-content-center" style="width:100vw" >
            <div >
        <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-danger pt-6">Admin challenge</h1>
        <h2 class="has-text-centered has-text-weight-bold mb-5">Paste your admin token</h2>

        <input class="input is-danger" type="password" placeholder="Paste your admin token" name="user_token" [(ngModel)]="user_token"/>
        <div class="is-flex is-justify-content-center">
        <button class="button is-danger is-rounded mt-4" [ngClass]="{'is-loading':isChallengeLoading}" (click)="solve_challenge()">Solve</button>
        </div>
     </div>
    </div>
    </article>
    <div class="container  is-fluid " *ngIf="isChallengeSolved">
        <div>
            <p class="is-family-monospace	has-text-danger has-text-right	pt-6">Session will expire in {{timer/60-((timer%60)/60)}}m{{timer%60}}s</p>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-danger">Admin section</h1>
            
           <p>
                <strong>Number of users :</strong> {{users.length}}
           </p>
            <article class="is-flex is-flex-wrap-wrap is-justify-content-space-around is-align-items-center	">
                <div class="card m-4" *ngFor="let user of users">
                    <div class="card-header">
                        <p class="card-header-title is-size-5 has-text-info">  {{user.username}} #{{user.id}} 
                            <span class="tag is-danger ml-4" *ngIf="!user.isVerified">Not verified</span>
                            <span class="tag is-success ml-4" *ngIf="user.isVerified">Verified</span>
                            
                            <span class="tag is-danger ml-4" *ngIf="user.isBlocked">Blocked</span></p>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <ul>    
                            <li>Email : <strong>{{user.email}}</strong></li>
                            <li>Role : 
                                <span class="tag is-light" *ngIf="user.role != 'admin'">{{user.role}}</span>
                                <span class="tag is-info" *ngIf="user.role == 'admin'">{{user.role}}</span>
                                </li>
                            <li>Created at : <strong>{{user.createdAt}}</strong></li>
                            <li>Number of encrypted codes saved : <span class="tag is-light" >{{user.nbCodesSaved}}</span>
                                </li>
                            <li>Is google drive enabled : <span class="tag is-success" *ngIf="user.isGoogleDriveSync">Enabled</span>
                            <span class="tag is-warning" *ngIf="!user.isGoogleDriveSync">Disabled</span></li>
                        </ul>
                      </div>
                    </div>
                    <footer class="card-footer">
                        <div  class="card-footer-item  " *ngIf="!user.isBlocked" >
                            <button class="button  is-warning has-text-weight-bold" (click)="userToBlock=user;blockAccount()">Block</button>
                        </div>
                        <div  class="card-footer-item " *ngIf="user.isBlocked" >
                            <button class="button  is-success has-text-weight-bold" (click)="userToBlock=user;unblockAccount()">Unblock</button>
                        </div>
                        <div  class="card-footer-item">
                        <button (click)="userToDelete=user;deletionModal()" class="button is-danger has-text-weight-bold">Destroy</button>
                        </div>
                      </footer>
                  </div>
            </article>
        </div>
    </div>
</section>


<section class="hero is-halfheight mt-6" style="min-height: 70vh;" *ngIf="isAdmin == false">
    <article class="hero-body is-flex is-justify-content-center" >
       <div>
              <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-danger">Forbidden</h1>
              <h2 class="has-text-centered has-text-weight-bold ">For security reasons you will be disconnected in few seconds ... </h2>

       </div>
    </article>
</section>
<div id="confirmation" class="modal modal-fx-fadeInScale is-danger" [ngClass]="{'is-active': isDeletionModalActive}">
    <div class="modal-background" (click)="deletionModal()"></div>
    <div class="modal-content">
        <section class="modal-card-body">
            <h1 class="is-size-1 has-text-danger has-text-weight-bold">DANGER ZONE</h1>
            <strong>You won't be able to undo this action. The user will no longer access to your TOTP vault</strong>.<br><br>
            <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"  size="2xl"></fa-icon> ALL secrets will be lost</strong><br><br>
            <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"  size="2xl"></fa-icon> ALL the backups on google drive will be DESTROYED</strong><br><br>
            <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"  size="2xl"></fa-icon> This action will be logged and other admin may be warned. </strong><br><br>
            <strong class="has-text-danger has-text-weight-bold"><fa-icon [icon]="faExclamationTriangle" animation="beat-fade"  size="2xl"></fa-icon> The user is <span *ngIf="userToDelete != undefined">#{{userToDelete.id }} {{userToDelete.username }} {{userToDelete.email }}</span><span *ngIf="userToDelete == undefined">ERROR ERROR ERROR</span>. Double check this information.</strong><br><br>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-right">
            <button class="button is-success" (click)="deletionModal()" [disabled]="buttonLoading['deletion']">Return to safety</button>
            <button class="button is-danger" (click)="deleteAccount()" [ngClass]="{'is-loading': buttonLoading['deletion']}" [disabled]="deleteAccountConfirmationCountdown >0">Destroy the account definitely <span *ngIf="deleteAccountConfirmationCountdown >0"> ({{deleteAccountConfirmationCountdown}} s)</span></button>
            
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="deletionModal()" *ngIf="!buttonLoading['deletion']"></button>
</div>