<section class="hero is-halfheight mt-6 " style="min-height: 70vh;">
    <div class="container is-fluid ">
        <div>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-dark pt-6"
                style="line-height: normal;"> <fa-icon [icon]="faFileArrowDown" class="mr-2"></fa-icon> {{ 'import_vault.title' | translate }}
            </h1>
        </div>
    </div>
    <div class="container is-fluid ">
        <div class="is-flex is-flex-direction-column">
            <div class="is-flex is-justify-content-center">
                <div class="button is-link is-light is-large">
                    <div class="is-flex is-justify-content-left image  is-square">
                   <img src="assets/totp_square_dark.png" alt="Zero-TOTP logo" class="mt-2 mb-2">
                  </div>
                  </div>
            </div>
        </div>
    </div>
</section>
