
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
       <strong class="is-title is-size-4">Zero-TOTP</strong>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"  *ngIf="userService.id!=null">
        <a class="navbar-item" href="/vault" [ngClass]="{'has-text-weight-bold':currentUrl == '/vault'}">
          My vault
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info" *ngIf="userService.id == null" href="/signup">
              <span [ngClass]="{'has-text-weight-bold':currentUrl == '/signup'}">Sign up</span>
            </a>
            <a class="button is-light" *ngIf="userService.id == null" href="/login">
              <span [ngClass]="{'has-text-weight-bold':currentUrl == '/login'}">Log in</span>
            </a>
            <a class="button is-light" *ngIf="userService.id != null" href="/logout">
                <span>Logout</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>