/* You can add global styles to this file, and also import other style files */

/* Code for bulma 1.0
@use "../node_modules/bulma/sass" with (
  $info: #5AA9E6,
$link:#5AA9E6,
$danger:#FE6847,
$warning:#FFCF56,
$dark:#16262E,
$success:#63A375,
$primary:#5AA9E6,
$black:#16262E,
);*/

$blue: #5AA9E6;
$red: #FE6847;
$yellow: #FFCF56;
$dark: #16262E;
$green: #63A375;
$grey-light: #D3D3D3;
$grey-lighter:#E5E4E2;



@use "../node_modules/bulma/sass" with (
  $info:  $blue,
  $link: $blue,
  $danger:$red,
  $warning:$yellow,
  $dark:$dark,
  $success: $green,
  $primary:$blue,
  $black:$dark,
  $grey-light:$grey-light
);



a:hover{
  text-decoration: underline;
}


*, html {

  scroll-behavior: smooth !important;
}
.noHover{
  text-decoration: none !important;
}

video {
  max-height: 50vh !important;
  width:auto !important;
}

#reloadVault:hover{
  font-weight: bold;
}

#reloadVault{
  cursor: pointer;
}

#static_links{
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 99 !important;
}

.coffee-button {
  width: 60px;
  height: 60px;
  background-color: #ffdd57; /* Background color for the button */
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.github-button {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.coffee-button img {
  width: 30px; /* Adjust the size of the icon */
  height: 30px;
}


.coffee-button:hover, .github-button:hover {
  transform: scale(1.1); /* Animation on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#totp-tag:hover,
#totp-status-tag:hover,
#google-tag:hover,
#google-status-tag:hover,
#download-tag:hover,
#download-status-tag:hover{
  box-shadow: black 0px 0px 4px;
}

#totp-tag:hover ~ #totp-status-tag,
#totp-status-tag:hover ~ #totp-tag,
#google-tag:hover ~ #google-status-tag,
#google-status-tag:hover ~ #google-tag,
#download-tag:hover ~ #download-status-tag,
#download-status-tag:hover ~ #download-tag {
  box-shadow: black 0px 0px 4px;
}

.tags {
  cursor: pointer;
}



/* ANIMATIONS */
.shake {
  animation: shake_anim 1s;
}

@keyframes shake_anim {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/*@import "../node_modules/bulma/css/bulma.css";*/


//@import "../node_modules/bulma-extensions/bulma-steps/dist/css/bulma-steps.sass";

/*Toast CSS*/
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
.toast-info {
  background-image: url("/assets/circle-info-solid.svg");
}
.toast-error {
  background-image: url("/assets/circle-xmark-regular.svg");
}
.toast-success {
  background-image: url("/assets/circle-check-regular.svg");
}
.toast-warning {
  background-image: url("/assets/circle-exclamation-solid.svg");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #16262E;
  
  pointer-events: auto;
}
.toast-success {
  background-color: rgba(99, 163, 117, 0.9);
  backdrop-filter: blur(5px);
}
.toast-error {
  background-color: rgba(254, 105, 71, 0.9);
  backdrop-filter: blur(5px);
}
.toast-info {
  background-color: rgba(90, 169, 230, 0.9);
  backdrop-filter: blur(5px);
}
.toast-warning {
  background-color: rgba(255, 207, 86, 0.9);
  color:#16262E !important;
  backdrop-filter: blur(5px);
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}