<div class="field has-addons">
  <div class="control  has-icons-left is-expanded">
    <input class="input" type="text" placeholder="Search" name="filter" [(ngModel)]="filter"
      (keyup)="searchBarValueChanged()">
    <span class="icon is-left">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </span>
  </div>
  <div class="control ">
    <a class="button" (click)="filter='';searchBarValueChanged() ">
      <fa-icon [icon]="faXmark"></fa-icon>
    </a>
  </div>
</div>
<div class="mb-4">
  <strong>{{'vault.filter.tag.title' | translate}} : </strong>
  <span class="tag is-rounded ml-4" style="cursor:pointer" [ngClass]="{'is-info':selectedTags().length == 0}"
    (click)="selectedTags.set([])">All</span>
  @for (tag of vaultTagsList(); track tag) {
  <span>
    <span class="tag is-rounded ml-4 mt-2" style="cursor:pointer"
      [ngClass]="{'is-info':selectedTags().includes(tag)}" (click)="selectTag(tag)">{{tag}} </span>
  </span>
  }
</div>

@if (!this.userService.isVaultLocal()) {
<span class="tag mb-4 is-light is-info" (click)="refreshUserData()" id="reloadVault">{{ 'vault.button.reload' |
  translate
  }} <fa-icon [icon]="faRotateRight" class="pl-1"
    [animation]="reloadSpin() ? 'spin' : undefined"></fa-icon></span>
}
@if (reloadSpin()) {
<article class="hero is-halfheight" style="min-height: 40vh;">
  <article class="hero-body is-flex is-justify-content-center">
    <div>
      <fa-icon [icon]="faCircleNotch" [animation]="true ? 'spin' : undefined" style="color:#000000;"
        size="2xl"></fa-icon>
    </div>
  </article>
</article>
}
@if (!reloadSpin()) {
<div class="is-flex is-justify-content-center columns is-flex-wrap-wrap is-desktop">
  @if (!this.userService.isVaultLocal()) {
  <div class="column is-full-mobile
      is-one-third-tablet
      is-one-third-desktop
      is-one-third-widescreen
      is-one-quarter-fullhd">
    <a (click)="isModalActive.update(current => !current)">
      <div class="card  ">
        <header class="card-header">
          <p class="card-header-title">{{ 'vault.button.add' | translate }}</p>
        </header>
        <div class="card-content">
          <div class="content has-text-centered">
            <p class="is-size-2"><fa-icon [icon]="faSquarePlus" style='color: #dbdbdb; height:20px;'></fa-icon>
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  }
  @for (uuid of vault().keys(); track uuid) {
  @if(shouldDisplayCode(vault().get(uuid)!, selectedTags(), searchBarValue())){
  <div class="column  is-full-mobile
      is-one-third-tablet
      is-one-third-desktop
      is-one-third-widescreen
      is-one-quarter-fullhd">
    <div class="card totp-card" [ngClass]="{   'totp-card-green': vault().get(uuid)!.color == 'success',

              'totp-card-red': vault().get(uuid)!.color  == 'danger',
              'totp-card-blue': vault().get(uuid)!.color  == 'info',

              'totp-card-yellow': vault().get(uuid)!.color  == 'warning',

          }">
      <header class="card-header">
        <p class="card-header-title  ">@if ((vault().get(uuid)!.favicon || faviconPolicy()
          ==
          'always') && faviconPolicy() != 'never') {
          <img src="{{get_favicon_url(vault().get(uuid)!.uri)}}" alt="" width="25px" height="25px"
            style="margin-right: 6px;">
          }
          {{vault().get(uuid)!.name}}
        </p>
        <button class="card-header-icon" aria-label="edit" [routerLink]="['/edit/',uuid]">
          <span class="icon">
            <fa-icon [icon]="faPen"></fa-icon>
          </span>
        </button>
        <button class="card-header-icon" aria-label="copy" (click)="copy()"
          [cdkCopyToClipboard]="totpCodesMap().get(uuid) ?? 'An error occurred while copying the code. Try again or try to copy it manually.'">
          <span class="icon">
            <fa-icon [icon]="faCopy"></fa-icon>
          </span>
        </button>
      </header>
      <a class="noHover" (click)="copy()"
        [cdkCopyToClipboard]="totpCodesMap().get(uuid) ?? 'An error occurred while copying the code. Try again or try to copy it manually.'">
        <div class="card-content " style="text-decoration: none;">
          <div class="content is-flex is-align-items-center is-justify-content-center is-align-content-center">
            <div class="totp-ring mr-4 is-flex  is-align-items-center ">
              <svg width="2em" height="2em" viewBox="0 0 56 56">
                <circle class="totp-ring__track" cx="28" cy="28" r="24" />
                <circle class="totp-ring__progress" cx="28" cy="28" r="24"
                  [style.stroke]="getColorFromTOTPColorType(userService.vault().get(uuid)!.color)"
                  [style.stroke-dashoffset]="150.796 * (1 - progress_bar_percent() / 100)" />
              </svg>
            </div>
            <div>
              <span class="is-size-2 has-text-weight-bold has-text-centered mr-4"
                [ngClass]="{'is-skeleton': totpCodesMap().get(uuid) == undefined}">{{totpCodesMap().get(uuid) ??
                "000000"}}
              </span>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
