
<footer class="footer has-background-dark has-text-white  mt-6 block is-flex is-justify-content-center has-text-centered">
  <section style="width: 80vw;">
  <div class="is-flex is-flex-direction-column" style="border-bottom: solid gray 0.5px; ">
    <div class="is-flex is-justify-content-center">
      <img src="assets/logo_zero_totp_light.png" alt="Logo of Zero TOTP" style="height: 50px;" class="mt-4">
    </div>
    <div class="is-flex is-justify-content-center is-flex-wrap-wrap mt-4 is-hidden-mobile is-hidden-tablet-only">
        <a href="/" class="button block m-2 is-dark">{{ 'about' | translate}}</a>
        <a href="/privacy" class="button block m-2 is-dark">{{ 'privacy_policy' | translate }}</a>
        <a href="/changelog" class="button block m-2 is-dark">{{ 'changelog' | translate }}</a>
        <a href="https://github.com/SeaweedbrainCY/zero-totp/issues/new/choose" class="button block m-2 is-dark">{{ 'footer.bug' | translate }}</a>
        <a href="https://status.zero-totp.com" class="button block m-2 is-dark">Zero-TOTP status</a>
        <a href="/opensource" class="button block m-2 is-dark">{{ 'footer.opensource' | translate }}</a>
    </div>
    <div class="is-flex is-justify-content-center is-flex-direction-column mt-4 is-hidden-desktop">
      <a href="/" class="button block m-2 is-dark">{{ 'about' | translate}}</a>
      <a href="/privacy" class="button block m-2 is-dark">{{ 'privacy_policy' | translate }}</a>
      <a href="/changelog" class="button block m-2 is-dark">{{ 'changelog' | translate }}</a>
      <a href="https://github.com/SeaweedbrainCY/zero-totp/issues/new/choose" class="button block m-2 is-dark">{{ 'footer.bug' | translate }}</a>
      <a href="https://status.zero-totp.com" class="button block m-2 is-dark">Zero-TOTP status</a>
      <a href="/opensource" class="button block m-2 is-dark">{{ 'footer.opensource' | translate }}</a>
  </div>
    <div class="is-flex is-justify-content-center is-flex-wrap-wrap mt-4 mb-4">
      <a href="https://github.com/SeaweedbrainCY/zero-totp" ><fa-icon [icon]="faGithub" style="color:white;" size="xl" class="m-4"></fa-icon></a>
      <a href="https://www.linkedin.com/in/nathan-stchepinsky/" ><fa-icon [icon]="faLinkedin" style="color:white;" size="xl" class="m-4"></fa-icon></a>
      <a href="https://nathan.stchepinsky.net" ><fa-icon [icon]="faGlobe" style="color:white;" size="xl" class="m-4"></fa-icon></a>
      <a href="mailto:developer@zero-totp.com" ><fa-icon [icon]="faEnvelope" style="color:white;" size="xl" class="m-4"></fa-icon></a>
  </div>
  </div>
  <div class="is-flex is-justify-content-center mt-4 has-text-centered">
    <div>
      <p>All right reserved © <a href="https://nathan.stchepinsky.net" style="color:white; ">Nathan Stchepinsky</a> 2023.</p>
      <p class="is-size-7	has-text-weight-light is-italic is-light" *ngIf="imageHash != ''">{{imageHash}}</p>
    </div>
  </div>
</section>
</footer>