name: "zero-totp.com deployment"

on:
  push:
    tags:
      - '**'

jobs:
    tests_and_security:
      name: Tests and security analysis
      uses: ./.github/workflows/security_analysis.yml  # use the callable tests job to run tests
      secrets:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    docker-frontend:
      needs: [tests_and_security]
      name: Publish Frontend Docker image
      runs-on: ubuntu-latest
      env:
        REPO: ${{secrets.DOCKER_FRONTEND_REPO}}
      steps:
        - uses: actions/checkout@v3
        - name: Login to Docker Hub
          run : docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
        - name: Create environment file
          working-directory: ./frontend
          run: bash generate-env.sh '${{ github.ref_name }}' '${{secrets.RSA_PUBLIC_KEY}}'
        - name: Build Docker image
          working-directory: ./frontend
          run: current_version=$(echo ${{ github.ref_name }} | sed 's/\([0-9]*\.[0-9]*\).*$/\1/') && docker build -t $REPO:latest -t $REPO:$current_version . 
        - name: Publish Docker Image
          run: docker push $REPO --all-tags
    docker-api:
      needs: [tests_and_security]
      name: Publish API Docker image
      runs-on: ubuntu-latest
      env:
        REPO: ${{secrets.DOCKER_API_REPO}}
      steps:
        - uses: actions/checkout@v3
        - name: Login to Docker Hub
          run : docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
        - name: Build Docker image
          working-directory: ./api
          run: docker build -t $REPO:latest -t $REPO:${{ github.ref_name }} .
        - name: Publish Docker Image
          run: docker push $REPO --all-tags
    deploy-production-eu:
       needs: [docker-frontend, docker-api] 
       name: Deploy on production server (EUROPE)
       runs-on: ubuntu-latest
       steps:
         - name: EU deployment
           uses: distributhor/workflow-webhook@v3
           env:
             webhook_url: ${{ secrets.WEBHOOK_URL_EU }}
    deploy-production-ca:
        needs: [docker-frontend, docker-api] 
        name: Deploy on production server (CANADA)
        runs-on: ubuntu-latest
        steps:
          - name: CA deployment
            uses: distributhor/workflow-webhook@v3
            env:
              webhook_url: ${{ secrets.WEBHOOK_URL_CA }}

        
